body {
    background: url('../images/fond_degrade.svg') no-repeat;
    background-size: auto 100%;
}

p{
    @include xs{
        font-size: 5vw!important;
    }
}

.background_general{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}

.background_general_1{
    position: absolute;
    z-index: -1;
}

#intro {
    text-align: center;
    position: relative;
    width: 100%;
    background-color: #240E47;
    color: #FFF;


    .picto_intro{
        width: 8vw;
        margin-top: 4vw;

        @include xs{
            width: 15vw;
        }
    }

    .text1{
        font-size: 4vw;
        margin: 4vw 0vw 0vw 0vw;

        @include xs{
            font-size: 11vw;
        }
    }

    .bloc{
        padding-bottom: 2vw;
        font-size: 5vw;

        @include xs{
            font-size: 15vw;
        }

        .text2{
            display: inline-block;

            .red{
                display: inline;
                color: $secondary-color;
            }
        }
    }

    .text_intro{
        background-color: #006E8A;
        color: #FFF;
        text-align: left;
        padding: 3vw 4vw 3vw 4vw;
        font: $text-font;

        @include xs{

            p{
                font-size: 5.8vw;
                padding: 4vw;
            }
        }
    }
}

#ajd_france{
    position: relative;
    width: 100%;
    background-color: #236286;

    .enfant{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 46vw;
        z-index: 2;

        @include xs{
            display: none;
        }
    }

    .arc{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 23vw;
    }

    .forms{
        display: table;
        width: 100%;

        .rect_1{
            display: table-cell;
            height: 45vw;
            width: 12.5%;
            background-color: #024554;
            position: relative;

            @include xs{
                width: 2.5%;
                height: 65vw;
            }
        }

        .rect_2{
            display: table-cell;
            background-color: #FFF;
            height: 45vw;
            width: 12.5%;
            z-index: 0;
            position: relative;

            @include xs{
                width: 2.5%;
            }
        }

        .rect_4{
            display: none;

            background-color: #CF4934;
            height: 45vw;
            width: 2.5%;
            z-index: 0;
            position: relative;

            @include xs{
                display: table-cell;

            }
        }

        .container_block{
            display: table-cell;
            width: 75%;
            vertical-align: top;

            .rect_3{
                z-index: 0;
                height: 40vw;
                margin-left: -4vw;
                background-color: $secondary-color;
                border-bottom-left-radius: 50vw;
                border-bottom-right-radius: 50vw;

                @include xs{
                    display: none;
                }
            }

            .rect_3_mobile{
                display: none;

                @include xs{
                    display: block;
                }
            }
        }
    }

    .main_text{
        position: absolute;
        top: 2vw;
        left: 27vw;
        color:#FFF;
        width: 30vw;
        line-height: 6vw;
        z-index: 3;

        @include xs{
            position: absolute;
            top: 2vw;
            left: 8vw;
            color: #FFF;
            width: 44vw;
            line-height: 13vw;
            z-index: 3;
        }

        .title{
            font-size: 7vw;

            @include xs{
                font-size: 16vw;
                width: 90vw;
            }
        }

        .content{
            margin-left: 8vw;
            margin-top: 1vw;

            @include xs{
                font-size: 4vw;
                margin-left: 1vw;
                margin-top: 2vw;
                width: 29vw;
            }
        }
    }

    .heure_internet{
        position: absolute;
        bottom: 0;
        right: 15vw;

        @include xs{
            right: 0;
        }

        .bloc{
            display: inline-block;

            .title{
                font-size: 8vw;
            }

            .content{
                color:#FFF;
                padding: 1vw 1vw 1vw 1vw;
                font: $text-font;
                width: 14vw;

                @include xs{
                    width: 42vw;
                }
            }



        }

        .bloc1{
            vertical-align: bottom;

            .title{
                color:#024554;

                @include xs{
                    font-size: 26vw;
                    line-height: 17vw;
                }
            }

            .content{
                position: relative;
                background-color: #024554;
                color:#FFF;
                padding-bottom: 12vw;
                margin-top: -2vw;

                @include xs{
                    padding-bottom: 35vw;
                    font-size: 4vw;
                    padding-left: 3vw;
                }

                .tablette{
                    position: absolute;
                    top: 6vw;
                    z-index: 1;
                    left: -8vw;

                    @include xs{
                        top: 23vw;
                        left: -12vw;
                        width: 27vw;
                    }
                }
            }
        }

        .bloc2{
             margin-left: -1vw;
            .title{
                color:$primary-color;
                font-size: 12vw;

                @include xs{
                    font-size: 29vw;
                    line-height: 19vw;
                }
            }

            .content{
                position: relative;
                background-color: $primary-color;
                color:#FFF;
                padding-bottom: 30vw;
                margin-top: -3vw;

                @include xs{
                    padding-bottom: 76vw;
                    font-size: 4vw;
                    padding-left: 3vw;
                }

                .apple{
                    position: absolute;
                    top: 6vw;
                    z-index: 1;
                    left: 5vw;

                    @include xs{
                        top: 14vw;
                        width: 28vw;
                    }
                }
            }
        }
    }
}

#bloc3{
    background-color: #240E47;
    padding-top: 7vw;
    padding-bottom: 0.5vw;
    position: relative;

     .percent_bar_mobile{
        width: 85%;
        height: 0.8vw;
        background: #006E8A;
        margin-left: 1vw;
        margin-bottom: -1vw;
        display: none;

        @include xs{
            display: block;
        }
    }

    .smartphone{
        position: absolute;
        bottom: 0;
        left: -18vw;
        width: 52vw;
        z-index: 4;

        @include xs{
            position: relative;
            bottom: 0;
            left: 0;
            width: 109vw;
            z-index: 4;
            margin-top: -33vw;
            margin-left: -15vw;
        }
    }

    .legende_smart{
        color: #FFF;
        position: absolute;
        top: 13vw;
        z-index: 5;
        left: 10vw;
        width: 11vw;

        h2{
            font-size: 8vw;
            margin-left: -0.4vw;
            margin-bottom: -1vw;
        }

        @include xs{
            top: 17vw;
            left: 39vw;
            width: 47vw;

            h2{
                font-size: 20vw;
                margin-left: -0.4vw;
                padding-left: 9vw;
                margin-bottom: -1vw;
            }

            p{
                font-size: 4vw;
                width: 28vw;
            }
        }
    }

    .graph{
        position: relative;
        margin-left: 40vw;
        padding-top: 3vw;
        border-left: 0.3vw solid $primary-color;
        padding-left: 1vw;

        @include xs{
            margin-left: 0;
            border-left: none;
            width:100%;
        }


        .percent{
            position: absolute;
            color: $primary-color;
            top: -5vw;
            left: -2vw;
            font-size: 4vw;

            @include xs{
                top: -1vw;
                left: 90vw;
            }
        }

        .bloc{
            display: inline-block;

            @include xs{
                display: block;
            }

            @include xs{
                .bar_mobile{
                    height: 20vw;
                    background-color: $primary-color;
                    display: inline-block;
                }
            }

            .title{
                font-size: 8vw;
                color:#FFF;
                text-align: left;
            }

            .content{
                text-align: left;
                background-color: $primary-color;
                color:#FFF;
                padding: 1vw 1vw 1vw 1vw;
                font: $text-font;
                width: 17vw;
                padding-right: 10vw;
                position: relative;

                .img{
                    position: absolute;
                    width: 42%;
                }

                @include xs{
                    background: none;
                    vertical-align: top;
                    margin-top: 2vw;
                    padding-right:0;
                    font-size: 4vw;

                    img{
                        width: 21%;
                    }
                }
            }

            @include xs{
                 .title, .content{
                    display: inline-block;
                 }

                 .title{
                    font-size: 14vw!important;
                    vertical-align: top;
                    margin-top: 4vw;
                    margin-left: -14vw;
                 }
            }
        }

        .bloc1{
            vertical-align: bottom;

            .content{
                padding-bottom: 21vw;

                @include xs{
                    width: 24%;
                    padding-bottom: 0;

                }

                .img{
                    top: -0.5vw;
                    left: 13vw;

                    @include xs{
                        top:0;
                        width: 16vw;
                        left: -40vw;
                    }
                }
            }
        }

        .bloc2{
            .title{
                font-size: 6vw;
            }

            @include xs{
                width: 100%;
                .title{
                    margin-left: 9vw;
                }
            }

            .content{
                padding-bottom: 3vw;

                @include xs{
                    margin-left: 18vw;
                }

                .img{
                    top: -2.5vw;
                    left: 10.5vw;

                    @include xs{
                        top: 1.5vw;
                        left: -52.5vw;
                        width: 13vw;
                    }
                }
            }
        }

        .bloc3{
            position: relative;
            padding-top: 5vw;

            @include xs{
                width: 100%;
                padding-top: 0;
            }

            .title{
                font-size: 4vw;
                margin-left: 1vw;
                margin-bottom: -1vw;

                @include xs{
                    margin-left: 13vw;
                }
            }

            .content{
                background-color: transparent;
                padding-bottom: 3vw;

                .img{
                    top: 2.5vw;
                    left: 10vw;
                    z-index: 1;
                    width: 7vw;
                }

                @include xs{
                    margin-left: 36vw;

                    .img{
                        top: 2.5vw;
                        left: -69vw;
                        z-index: 1;
                        width: 10vw;
                    }

                }
            }

            .bar{
                position: absolute;
                width: 100%;
                background-color: $primary-color;
                height: 2vw;
                bottom: 0;

                @include xs{
                    display: none;
                }
            }
        }

        @include xs{
            .bloc{

                .content{
                    height: 10vw;
                }

            }

            .bar_mobile1{
                width: 64vw;
            }

            .bar_mobile2{
                width: 26vw;
            }

            .bar_mobile3{
                width: 5vw;
            }
        }
    }
}

#transition{
    padding: 2vw 11vw 2vw 32vw;
    color:#FFF;
    background-color: #455A84;

    @include xs{
       padding:  3vw 4vw 2vw 6vw;
       p{
         font-size: 5.5vw;
       }

    }
}

#remember{
    background-color: $third-color;
    text-align: center;
    padding: 2vw 2vw 2vw 2vw;
    font-size: 7vw;

    @include xs{
        padding: 2vw 2vw 2vw 5vw;
        font-size: 16vw;
        line-height: 15vw;
        text-align: left;
    }

    .title1{
        color:$primary-color;
    }

    .title2{
        color:#FFF;
    }
}

#insultes{
    position: relative;

    background: rgba(87,85,130,1);
    background: -moz-linear-gradient(top, rgba(87,85,130,1) 0%, rgba(100,84,127,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(87,85,130,1)), color-stop(100%, rgba(100,84,127,1)));
    background: -webkit-linear-gradient(top, rgba(87,85,130,1) 0%, rgba(100,84,127,1) 100%);
    background: -o-linear-gradient(top, rgba(87,85,130,1) 0%, rgba(100,84,127,1) 100%);
    background: -ms-linear-gradient(top, rgba(87,85,130,1) 0%, rgba(100,84,127,1) 100%);
    background: linear-gradient(to bottom, rgba(87,85,130,1) 0%, rgba(100,84,127,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575582', endColorstr='#64547f', GradientType=0 );

    .background_serpentin{
        position: absolute;
        background-image: url('../images/serpentin.svg');
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;

        @include xs{
            display: none;
        }
    }

    .martin{
        z-index: 1;
        position: relative;

        @include xs{
            display: none;
        }
    }

    .martin_mobile{
        z-index: 1;
        position: relative;
        display: none;

         @include xs{
            display: block;
        }
    }

    .boy{
        position: absolute;
        top: 6vw;
        left: 12vw;
        width: 19vw;
        z-index: 0;

        @include xs{
            top: 47vw;
            left: 1vw;
            width: 44vw;
        }
    }

    .boy1{
        position: absolute;
        top: -2vw;
        left: 43vw;
        width: 21vw;
        z-index: 0;

        @include xs{
            width: 50vw;
            top: -6vw;
            left: 38vw;
        }
    }
}

#harcelement{
    background-color: #240E47;
    text-align: center;
    padding: 2vw 15vw 2vw 2vw;
    font-size: 7vw;
    text-align: left;
    color:#FFF;

    @include xs{
        padding: 2vw 7vw 2vw 7vw;
        font-size: 17vw;
        text-align: left;
        color: #FFF;
    }

    .title1{
        color:#FFF;
    }

    .title2{
        color:#FFF;
    }

    .harcelement_color{
        display: inline-block;
        color: $secondary-color;
    }
}

#cyber_harcelement{
    color:#FFF;
    margin-top: -1vw;
    position: relative;

    background: rgba(112,82,125,1);
    background: -moz-linear-gradient(top, rgba(112,82,125,1) 0%, rgba(100,84,127,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(112,82,125,1)), color-stop(100%, rgba(100,84,127,1)));
    background: -webkit-linear-gradient(top, rgba(112,82,125,1) 0%, rgba(100,84,127,1) 100%);
    background: -o-linear-gradient(top, rgba(112,82,125,1) 0%, rgba(100,84,127,1) 100%);
    background: -ms-linear-gradient(top, rgba(112,82,125,1) 0%, rgba(100,84,127,1) 100%);
    background: linear-gradient(to bottom, rgba(112,82,125,1) 0%, rgba(100,84,127,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70527d', endColorstr='#64547f', GradientType=0 );

    @include xs{
        padding-top: 12vw;
    }

    .bloc_text{
        display: table;
        text-align: center;

        .bloc{
            display: table-cell;
            width: 33.33%;

            @include xs{
                width: 45%;
            }

            .number{
                font-size: 4vw;
                text-align: center;
                width: 4.5vw;
                margin-left: auto;
                margin-right: auto;
                border-radius: 15vw;
                background-color: #240E47;
                height: 4.5vw;

                @include xs{
                    width: 6.5vw;
                    border-radius: 15vw;
                    height: 6.5vw;
                    padding-top: 1.8vw;

                }
            }

            .content{
                border-top: 0.3vw solid $third-color;
                margin: 1vw 2vw 2vw 2vw;
                padding-top: 1vw;
                font-size: 4vw;


                @include xs{
                    text-align: left;
                    font-size: 8vw;
                    border-top: 0.4vw solid $third-color;
                }
            }
        }

        .bloc1{
            .content{
                margin: 1vw 9vw 2vw 9vw;
            }
        }

        .bloc3{
            .content{
                margin: 1vw 2vw 2vw 1vw;
            }
        }

        @include xs{
            .bloc1{
                position: absolute;
                top: -2vw;
                left: 26vw;
                width: 49%;

                .content{
                    width: 30vw;
                }
            }

            .bloc2{
                display: inline-block;
            }

            .bloc3{
                display: inline-block;
            }
        }
    }

    .bottom_border{
            width: 75%;
            border-top: 0.3vw solid $third-color;
            margin-right: auto;
            margin-left: auto;

            @include xs{
                border-top: 0.4vw solid $third-color;
            }

        .v_border{
            border-left: 0.3vw solid $third-color;
            height: 2vw;
            margin-left: auto;
            margin-right: auto;
            width: 0.5vw;

            @include xs{
                border-left: 0.4vw solid $third-color;
            }
        }
    }
}

#consequences{
    background-color: $third-color;
    color:#FFF;
    text-align: center;
    padding: 2vw 1vw 2vw 1vw;

    .title{
        font-size: 4vw;
        position: relative;
        z-index: 1;
    }

    p{
        position: relative;
        z-index: 1;
    }

    @include xs{
        padding: 2vw 1vw 2vw 4vw;
        text-align: left;

        .title{
            font-size: 13vw;
            padding-right: 26vw;
            line-height: 12vw;
            padding-top: 2vw;
        }

        p{
            font-size: 5vw;
            padding-right: 30vw;
            padding-top: 2vw;
        }
    }
}

#brimades{
    color:$third-color;
    position: relative;

    background: rgba(118,82,124,1);
    background: -moz-linear-gradient(top, rgba(118,82,124,1) 0%, rgba(198,76,65,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(118,82,124,1)), color-stop(100%, rgba(198,76,65,1)));
    background: -webkit-linear-gradient(top, rgba(118,82,124,1) 0%, rgba(198,76,65,1) 100%);
    background: -o-linear-gradient(top, rgba(118,82,124,1) 0%, rgba(198,76,65,1) 100%);
    background: -ms-linear-gradient(top, rgba(118,82,124,1) 0%, rgba(198,76,65,1) 100%);
    background: linear-gradient(to bottom, rgba(118,82,124,1) 0%, rgba(198,76,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76527c', endColorstr='#c64c41', GradientType=0 );

    .ordis{
        position: relative;
        z-index: 1;

        @include xs{
            display: none;
        }


    }

    .social{
        position: absolute;
        width: 28vw;
        top: 30vw;
        left: 19vw;
        z-index: 2;

        @include xs{
            width: 60vw;
            top: 164vw;
            left: 22vw;
        }
    }

    .ordis_mobile{
        position: relative;
        z-index: 1;
        display: none;
        margin-top: -17vw;

        @include xs{
            display: block;
        }

        .social{
            position: absolute;
            width: 10vw;
            top: 5vw;
            left: 5vw;
        }
    }

    .intro{
        font-size: 6vw;
        width: 48vw;
        margin: 0vw 0vw 2vw 3vw;
        color:#FFF;

        @include xs{
            padding-top: 2vw;
            width: 67vw;
            margin: 0vw 0vw 2vw 4vw;
            color: #FFF;
            font-size: 15vw;
        }
    }

    .encadre{
        position: relative;
        background-color: $third-color;
        width: 63vw;
        padding: 4vw 5vw 4vw 7vw;
        margin-top: 5vw;
        border-radius: 3vw;
        margin-left: auto;
        margin-right: auto;

        @include xs{
            width: 86vw;
            padding: 4vw 5vw 4vw 4vw;
        }

        .bar{
            position: absolute;
            width: 5vw;
            background-color: $third-color;
            height: 78vw;
        }

        .bar1{
            top: -75vw;
            right: 10vw;
        }

        .bar2{
            top: -75vw;
            right: 18vw;
        }

        .text{
            background-color: #FFF;
            width: 49vw;
            font-size: 6vw;
            padding: 1vw 1vw 1vw 1vw;

            @include xs{
                width: 78vw;
                padding: 2vw;
                font-size: 13vw;
            }
        }

        .mobile_title{
            display: inline-block;

            @include xs{
                display: block;
                font-size: 15vw;
            }
        }


    }

    .container_annees{
        border: 0.6vw solid white;
        border-radius: 5vw;
        width: 65%;
        margin-left: 10vw;
        margin-top: -3.1vw;
        padding-bottom: 5vw;

        border-right: none;
        border-top-right-radius: 0;

        @include xs{

            border: 0.8vw solid white;
            border-right: none;
        }

        .exemple{
            margin: 4vw 4vw -3vw 4vw;
            font-size: 5vw;
            color:#FFF;

            @include xs{
                font-size: 14vw;
                margin: 4vw 0vw -5vw 4vw;
            }
        }

        .bloc{
            display: table;
            margin: 4vw 0vw 3vw -3vw;
            width: 120%;

            @include xs {
                margin:6vw 0vw 3vw -6vw;
            }

            .bloctext{
                color:#FFF;
                display: table-cell;
                width: 85%;
                vertical-align:top;


                .title{
                    margin-bottom: 1.5vw;
                }

                @include xs{

                    .name{
                        font-size: 5vw;
                    }

                    .title{
                        font-size: 5vw;
                    }

                    .age{
                        font-size: 5vw;
                    }

                    .content{
                        font-size: 5.5vw;
                    }
                }
            }

            .bloc2{
                .link{
                    font-size: 1.8vw;
                    padding-top: 1vw;



                    @include xs{
                        padding-top: 2vw;
                    }

                }

                a {
                    &:hover {
                        text-decoration: none;

                        h2 {
                            background-color: white;
                            color: #874C7B;
                        }
                    }

                    h2{
                        background-color: #874C7B;
                        width: 16vw;
                        border: 0.3vw solid white;
                        padding: 1vw;
                        margin-top: 3vw;
                        font-size: 2vw;

                        @include xs{
                            width: 45vw;
                            padding: 2vw;
                            margin-top: 3vw;
                            font-size: 6vw;
                        }
                    }
                }
            }

            .annee{
                display: table-cell;
                color:#874C7B;
                width: 8%;
                text-align: center;
                padding-right: 1vw;

                @include xs{
                    padding-right: 2vw;
                }

                h2{
                    width: 6vw;
                    height: 6vw;
                    background-color: #FFF;
                    border-radius: 3vw;
                    font-size: 4vw;
                    padding-top: 0.8vw;
                    text-align: center;

                    @include xs{
                        width: 12vw;
                        height: 12vw;
                        border-radius: 8vw;
                        font-size: 7vw;
                        padding-top: 3vw;
                    }
                }
            }
        }
    }
}

#agression{
    background-color: #874C7B;
    color:#FFF;
    margin-top: -6vw;
    position: relative;

    .title{
        font-size: 6vw;
        width: 52vw;
        padding: 2vw 3vw 0vw 6vw;

        @include xs{
            font-size: 16vw;
            width: 60vw;
            padding: 2vw 0vw 0vw 6vw;
        }
    }

    .content{
        font-size: 4vw;
        text-align: left;
        padding-left: 23vw;
        padding-right: 10vw;
        padding-top: 2vw;
        padding-bottom: 4vw;

        @include xs{
             padding-left: 6vw;
        }
    }

    .triangle{
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 4vw 48.5vw 0 48.5vw;
        border-color: #874C7B transparent;
        z-index: 1;

        @include xs{
            border-width: 9vw 47.5vw 0 47.5vw;
        }
    }
}

#agression_suite{
    position: relative;
    padding-top: 8vw;

    background: rgba(210,76,53,1);
    background: -moz-linear-gradient(top, rgba(210,76,53,1) 0%, rgba(221,87,37,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(210,76,53,1)), color-stop(100%, rgba(221,87,37,1)));
    background: -webkit-linear-gradient(top, rgba(210,76,53,1) 0%, rgba(221,87,37,1) 100%);
    background: -o-linear-gradient(top, rgba(210,76,53,1) 0%, rgba(221,87,37,1) 100%);
    background: -ms-linear-gradient(top, rgba(210,76,53,1) 0%, rgba(221,87,37,1) 100%);
    background: linear-gradient(to bottom, rgba(210,76,53,1) 0%, rgba(221,87,37,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d24c35', endColorstr='#dd5725', GradientType=0 );

    @include xs{
        padding-top: 15vw;
    }

    .row_table{
        display: table;
        width: 83%;
        padding: 2vw 2vw 2vw 2vw;
        margin-left: 16vw;
        color:white;

        @include xs{
            margin-left: 2vw;
            width: 93%;
        }

        .bloc{
            display: table-cell;
            width: 33.33%;
            vertical-align: top;

            @include xs{
                width: 100%;
                display: block;
                margin-top: 3vw;
            }


            .bloc_content{
                width: 100%;
                display: table;
                padding-left: 2vw;

                img{
                    display: table-cell;
                    width: 53%;

                    @include xs{
                        width: 9vw;
                    }
                }

                p{
                    display: table-cell;
                    width: 17vw;
                    vertical-align: top;
                    padding-right: 2vw;

                    @include xs{
                        width: 72vw;
                        font-size: 4vw;
                    }
                }
            }
        }
    }

    .row_table2{
        width: 57%;

        @include xs{
            width: 93%;
        }
    }

    .bloc1, .bloc2{
        p{
             border-bottom: 0.3vw solid white;
             height: 17vw;
        }
    }

    .bloc4{
        p{
            border-bottom: 0.3vw solid white;
        }

        .bloc_content{
            height: 10vw;
        }
    }

    .bloc5{
        @include xs{
            p{
                border-bottom: 0.3vw solid white;
                padding-bottom: 2vw;
            }
        }

    }

    .bloc3{
        p{
            @include xs{
                border-bottom: 0.3vw solid white;
                padding-bottom: 2vw;
            }
        }
    }

    .bloc6{
        display: none!important;

        @include xs{
            display: block!important;
        }
    }

    .last_bloc{
        @include xs{
            display: none;
        }

        .bloc_content{
            width: 24vw;
            display: table;
            margin-left: 21vw;
            margin-top: -7vw;

            img{
                    display: table-cell;
                    width:53%;
                }

            p{
                color: #FFF;
                display: table-cell;
                width: 18vw;
                vertical-align: top;
                padding-right: 2vw;
            }
        }
    }

    .phenomene{
        color:#FFF;
        padding: 2vw 0vw 2vw 27vw;
        background-color: $secondary-color;
        position: relative;
        margin-top: 4vw;

        @include xs{
            font-size: 15vw;
        }

        h2{
            font-size: 6vw;
            width: 59vw;

            @include xs{
                width: 65vw;
                font-size: 13vw;
            }
        }

        p{
            width: 55vw;

            @include xs{
                font-size: 4vw;
                padding-left: 6vw;
                padding-top: 4vw;
            }
        }

        .woman{
            position: absolute;
            bottom: 0;
            left: -18vw;
            width: 40vw;

            @include xs{
                left: -25vw;
                width: 53vw;
            }
        }
    }
}

#types_harcelement{
    color:#FFF;
    display: table;
    padding-top: 2vw;
    padding-bottom: 2vw;
    position: relative;
    width: 100%;

    background: rgba(229,96,24,1);
    background: -moz-linear-gradient(top, rgba(229,96,24,1) 0%, rgba(237,108,6,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,96,24,1)), color-stop(100%, rgba(237,108,6,1)));
    background: -webkit-linear-gradient(top, rgba(229,96,24,1) 0%, rgba(237,108,6,1) 100%);
    background: -o-linear-gradient(top, rgba(229,96,24,1) 0%, rgba(237,108,6,1) 100%);
    background: -ms-linear-gradient(top, rgba(229,96,24,1) 0%, rgba(237,108,6,1) 100%);
    background: linear-gradient(to bottom, rgba(229,96,24,1) 0%, rgba(237,108,6,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e56018', endColorstr='#ed6c06', GradientType=0 );

    @include xs{
        padding-bottom: 30vw;
        padding-top: 6vw;

        p{
            font-size: 4.8vw;
        }
    }

    .pictos{
        z-index: 2;
        position: absolute;
        top: 7vw;
        left: 27vw;
        width: 50vw;

        @include xs{
            display: none;
        }
    }

    .pictos_mobile{
        z-index: 2;
        position: absolute;
        top: 7.5vw;
        left: 0;
        width: 48vw;

        display: none;

        @include xs{
            display: block;
            top: -1.5vw;
            width: 94vw;;
        }
    }

    .bloc{
        display: table-cell;
        vertical-align: top;
        @include xs{
            display: block;
        }
    }

    .bloc_gauche{
        width: 28vw;
        text-align: right;
        padding: 6vw 2vw 2vw 6vw;

        @include xs{
            text-align: left;
            padding: 2vw 2vw 0vw 18vw;
            width: 100%;
        }

        .text_group{
            margin-top: 4vw;
            margin-bottom: 4vw;


            .second{
                font-size: 1.6vw;
            }

            @include xs{
                margin-bottom: 2vw;

                .second{
                    font-size: 4.8vw;
                }
            }
        }
    }

    .bloc_milieu{
        display: table-cell;
        width: 41vw;
        padding-left: 10vw;

        @include xs{
            display: block;
            padding: 0vw 2vw 0vw 8vw;
            width: 90%;
            margin-top: -6vw;
        }

        .first{
            margin-bottom: 2vw;
            margin-top: 10vw;
            padding-left: 10vw;

            @include xs{
                margin-bottom: 9vw;

            }
        }

        .second{
            padding-right: 3vw;
            padding-left: 10vw;
        }

        p{
            padding-right: 7vw;
            position: relative;
        }

        .encadre{
            z-index: 3;
            padding: 1vw 2vw 1vw 2vw;
            background-color: #FFF;
            border: 0.6vw solid #FFCE47;
            color:#EC7200;
            border-radius: 0.6vw;
            font-size: 4vw;
            text-align: center;
            margin-bottom: 3vw;
            position: relative;

            @include xs{
                margin-bottom: none;
                position: absolute;
                bottom: 3vw;
                width: 95%;
                left: 3%;
                font-size: 13vw;
                border: 1.6vw solid #FFCE47;
                padding: 3vw 2vw 1vw 2vw;
            }
        }
    }


    .bloc_droite{
        padding: 5vw 4vw 0vw 13vw;

        .first{
            margin-bottom: 7vw;
        }

        @include xs{
            display: block;
            padding: 2vw 2vw 2vw 18vw;
            width: 90%;

            .first{
                margin-bottom: 2vw;
            }
        }

        p{
             position: relative;
             z-index: 1;
        }
    }

    .afro{
        position: absolute;
        bottom: -5vw;
        left: 53vw;
        width: 42vw;
        z-index: 0;

        @include xs{
            display: none;
        }
    }
}

#caracteristiques{
    background-color: #240E47;
    position: relative;

    .bloc{
        position: relative;
        margin-bottom: 4vw;

        .number{
            width: 7vw;
            height: 7vw;
            border-radius: 4vw;
            padding-top: 0.8vw;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            font-size: 5vw;

            @include xs{
                font-size: 6vw;
                width: 9vw;
                height: 9vw;
                border-radius: 6vw;
                padding-top: 2.8vw;
            }
        }
    }

    .bloc1{
        color:#240E47;
        margin-bottom: 0;

        .number{
            background-color: #FFF;
        }

        .title{
            margin-top: -4vw;
            font-size: 4.5vw;
            width: 100%;
            padding-left: 54vw;
            background-color: #FFF;
            padding: 1vw 2vw 1vw 54vw;

            @include xs{
                padding: 8vw 2vw 3vw 5vw!important;
                line-height: 9vw;
                font-size: 10.5vw;
            }
        }

        @include xs{
            margin-bottom: 4vw;
        }
    }

    .bar_chart{
        display: table;
        width: 100%;
        margin-bottom: 4vw;

        .bar{
            display: table-cell;
            height: 20vw;
            position: relative;
            color:#FFF;
            vertical-align: bottom;

            .background{
                background-color: white;
            }

            .rectangle{
                position: relative;
                z-index: 1;
            }
        }

        .bar1{
            width: 50%;

            .background{
                opacity: 0.4;
                background-color: white;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

            .rectangle{
                padding: 8vw 2vw 0vw 6vw;

                .number{
                    font-size: 13vw;
                    display: inline-block;

                    @include xs{
                        font-size: 19vw;
                        display: block;
                        line-height: 14vw;
                    }
                }

                .text{
                    font-size: 7vw;
                    display: inline-block;
                }
            }
            .img_main_smartphone{
                position: absolute;
                bottom: 0;
                right: 0;
                width: 54vw;

                @include xs{
                    display: none;
                }
            }

        }

        .bar2{
            width: 30%;
            padding-top: 5vw;

            .background{
                opacity: 0.3;
                background-color: white;
                width: 100%;
                height: 80%;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .rectangle{
                padding: 8vw 2vw 1vw 3vw;
                @include xs{
                    padding: 4vw 2vw 1vw 3vw;
                }


                .number{
                    font-size: 7vw;
                    display: inline-block;

                    @include xs{
                        font-size: 12vw;
                        display: block;
                    }
                }

                .text{
                    display: inline-block;
                    font-size: 3vw;
                    width: 3vw;
                }
            }
        }

        .bar3{
            width: 20%;
            padding-top: 5vw;

            .background{
                opacity: 0.2;
                background-color: white;
                width: 100%;
                height: 57%;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .rectangle{
                padding: 1vw 2vw 1vw 3vw;


                .number{
                    font-size: 6vw;
                    color:#565385;
                }

                .text{
                    margin-top: 2vw;
                    display: inline-block;
                    font-size: 4vw;
                    display: inline-block;
                    width: 3vw;
                    line-height: 3.5vw;
                }

                @include xs{
                    p{
                        font-size: 1.8vw!important;
                    }
                }
            }
        }


    }

    .bloc2{
        color:#FFF;

        .number{
            background-color: #565385;
        }

        .title{
            margin-top: -4vw;
            font-size: 4.5vw;
            width: 100%;
            background-color: #565385;
            padding: 1vw 2vw 1vw 27vw;
        }

        .content{
            background-color: #565385;
            padding: 0vw 32vw 1vw 24vw;
        }

        .pc_portable{
            position: absolute;
            right: 4vw;
            width: 30vw;
            top: 0;

            @include xs{
                right: 9vw;
                width: 48vw;
                top: 18vw;
            }
        }
    }

    .bloc3{
        color:#FFF;

        .number{
            background-color: #874C7B;
        }

        .title{
            margin-top: -4vw;
            font-size: 4.5vw;
            width: 100%;
            background-color: #874C7B;
            padding: 1vw 14vw 1vw 54vw;
        }

        .content{
            background-color: #874C7B;
            padding: 1vw 14vw 1vw 43vw;
        }

        .pc_portable{
            position: absolute;
            left: 4vw;
            width: 30vw;
            top: 0;

            @include xs{
                left: 51vw;
                width: 35vw;
                top: 33vw;
            }
        }
    }

    .bloc4{
        color:#FFF;

        .number{
            background-color: #CF4934;
        }

        .title{
            margin-top: -4vw;
            font-size: 4.5vw;
            width: 100%;
            background-color: #CF4934;
            padding: 1vw 14vw 1vw 5vw;
        }

        .content{
            background-color: #CF4934;
            padding: 1vw 36vw 2vw 23vw;
        }

        .marin{
            position: absolute;
            right: 4vw;
            width: 26vw;
            top: -3vw;

            @include xs{
                right: 8vw;
                width: 43vw;
                top: 27vw;
            }
        }
    }

    @include xs{
            .bloc{
                .title,.content{
                    padding-left: 3vw;
                }

                .title{
                    font-size: 12vw;
                    padding-top: 4vw;
                }

                .content{
                    font-size: 4.5vw;
                    padding-right: 58vw;
                }
            }

            .bloc4{
                .title{
                    padding-top: 4vw;
                }
            }
        }

    .concerne{
        font-size: 7vw;
        color:#fff;
        padding: 2vw;
        width:  28vw;

        @include xs{
            font-size: 11vw;
            color: #fff;
            padding: 2vw 2vw 14vw 5vw;
            width: 43vw;
        }
    }

    .main_title{
        padding: 2vw 2vw 2vw 3vw;
        font-size: 7vw;
        margin-bottom: -3vw;
        color:#FFF;

        @include xs{
            padding: 4vw 4vw 2vw 4vw;
            font-size: 15vw;
            width: 65vw;
        }
    }

    .img_container{
        position: relative;

        .map{
            margin-bottom: -5vw;

            @include xs{
                display: none;
            }
        }

        .map_mobile{
            display: none;

            @include xs{
                display: block;
            }
        }

        .text_map{
            position: absolute;
            width: 27vw;
            top: 17vw;
            left: 24vw;

            @include xs{
                 width: 56vw;
                 top: 23vw;
                left: 34vw;

            }

            .p1{
                color:#EC7200;
                margin-bottom: -1vw;
            }

            .p2{
                color:white;
                margin-top: 1vw;
                margin-bottom: -2.2vw;

            }

            .percent{
                font-size: 15vw;
                color:#EC7200;
                line-height: 14vw;

                @include xs{
                    line-height: 23vw;
                    font-size: 30vw;
                }
            }

            .percent2{
                font-size: 10vw;
                color:#CF4934;
                display: inline-block;
                margin-top: 1vw;

                @include xs{
                    line-height: 14vw;
                    font-size: 14vw;
                    margin-top: 0;
                }
            }

            .p3{
                display: inline-block;
                color:#FFF;
            }


            @include xs{


                p{
                    font-size: 4vw;
                }
            }
        }
    }

    .concernerait{
        padding-left: 3vw;
        color: white;
        width: 26vw;
        border-left: 0.1vw solid white;
        background-color: #240E47;
        position: absolute;
        top: -13vw;
        right: 24vw;

        @include xs{
            width: 40vw;
            top: -28vw;
            right: 5vw;

            p{
                font-size: 4vw!important;
            }

        }

        h2{
            font-size: 19vw;
        }

        .p2{
            margin-left: 13vw;
        }
    }

    .filles{
        color:#FFF;
        position: absolute;
        bottom: 9vw;
        right: 29vw;
        width: 9vw;

        @include xs{
            bottom: 30vw;
            right: 70vw;
            width: 20vw;
            font-size: 4.5vw;
        }
    }

    .garcons{
        color:#FFF;
        position: absolute;
        bottom: 2vw;
        right: 2vw;
        width: 13vw;

        @include xs{
            bottom: 6vw;
            right: 6vw;
            width: 24vw;
            font-size: 4.5vw;
        }
    }
}

#feministres{
    position: relative;
    padding: 5vw 3vw 6vw 31vw;
    color:#FFF;
    background-color: #CF4934;

    @include xs{
        padding: 7vw 7vw 6vw 6vw;
        p{
            font-size: 5.5vw
        }
    }

    img{
        position: absolute;
        top: -12px;
        left: 2vw;
        width: 26vw;

        @include xs {
            display: none;
        }
    }

    .voir {
        &:hover {
            background-color: $primary-color;
            border-color: $primary-color;
        }
    }
}

#parents{
    padding-top: 7vw;

    background-color: #625480;

    @include xs{
        padding-top: 15vw;
        background-color: #72527C;
    }

    .wrapper{
        display: table;

        @include xs{
            display: block;
        }

         .first_bloc{
            display: table-cell;
            color:#006E8A;
            padding: 2vw 2vw 0vw 4vw;
            width: 40%;
            height: 20vw;
            background-color: #FFF;
            position: relative;
            vertical-align: top;

            @include xs{
                width: 100%;
                height: 57vw;
                display: block;
                padding: 5vw 2vw 0vw 4vw;
                p{
                    font-size: 5vw;
                }
            }

            .icones{
                position: absolute;
                top: -6vw;
                left: 6vw;
                width: 22vw;

                @include xs {
                    position: absolute;
                    top: -9vw;
                    left: 32vw;
                    width: 35vw;
                }
            }

            .table_percent{
                display: table;
                padding: 2vw 2vw 0vw 0vw;
                background-color: #FFF;

                @include xs {
                    background-color: transparent;
                }

                .cell1{
                    padding: 2vw;
                    display: table-cell;
                    h2{
                        font-size: 5vw;
                    }

                    @include xs{

                        padding: 5vw 2vw 2vw 10vw;
                        h2{
                            font-size: 21vw;
                            line-height: 23vw;
                        }
                    }
                }

                .cell2{
                    display: table-cell;
                    padding-left: 3vw;
                    line-height: 8.4vw;
                    border-left: 0.3vw solid #006E8A;


                    h2{
                        font-size: 9vw;
                    }

                    @include xs{
                        line-height: 27vw;

                        h2{
                            font-size: 27vw;
                        }
                    }

                }
            }
        }

        .triangle{
            display: table-cell;
            width: 6%;
            background-color: #03596D;

            img{
                height: 100%;
                width: auto;
            }

            @include xs {
                display: none;
            }
        }

        .triangle_mobile{
            width: 100%;
            background-color: #03596D;
            display: none;

            @include xs{
                display: block;
            }
        }

        .last_cell{
            display: table-cell;
            position: relative;
            background-color: #03596D;
            color:#FFF;
            width: 57%;
            vertical-align: middle;

            p{
                width: 22vw;
                padding-left: 2vw;

                @include xs{
                    font-size: 4vw;
                    width: 100%;
                    padding: 6vw 2vw 9vw 7vw;
                }
            }

            .mere_fille{
                position: absolute;
                right: 0;
                bottom: 0;
                width: 30vw;

                @include xs{
                    position: relative;
                    width: 100%;
                    padding-left: 11vw;
                }
            }
        }
    }
}

#harcelement_pairs{
    display: table;
    padding-top: 2vw;

    background: rgba(0,111,136,1);
    background: -moz-linear-gradient(top, rgba(0,111,136,1) 0%, rgba(37,98,134,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,111,136,1)), color-stop(100%, rgba(37,98,134,1)));
    background: -webkit-linear-gradient(top, rgba(0,111,136,1) 0%, rgba(37,98,134,1) 100%);
    background: -o-linear-gradient(top, rgba(0,111,136,1) 0%, rgba(37,98,134,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,111,136,1) 0%, rgba(37,98,134,1) 100%);
    background: linear-gradient(to bottom, rgba(0,111,136,1) 0%, rgba(37,98,134,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006f88', endColorstr='#256286', GradientType=0 );

    .left_img{
        display: table-cell;
        width: 68%;
        position: relative;
        vertical-align: bottom;

        @include xs{
            display: none;
        }
    }

    .right_text{
        display: table-cell;
        color: #FFF;
        vertical-align: bottom;

        h2{
            font-size: 6vw;
            margin-bottom: 1vw;

            @include xs{
                font-size: 15vw;
                margin-bottom: 1vw;
                padding: 2vw 2vw 0vw 4vw;
            }
        }

        .text2{
            @include xs{
                font-size: 6vw;
                padding: 2vw 2vw 2vw 4vw;
            }
        }

        .text3{
            padding: 2vw;
            background: #FFF;
            color: #006E8A;
            margin-top: 2vw;

            @include xs{
                font-size: 6vw;
                padding: 4vw 2vw 2vw 5vw;
            }
        }
    }

    .final_bloc{
        padding: 2vw 2vw 2vw 2vw;
        color:#FFF;

        h2{
            font-size: 4vw;
            margin-bottom: 1vw;

            @include xs{
                font-size: 15vw;
                padding: 2vw 2vw 2vw 2vw;
            }
        }

        p{
            width: 64vw;

            @include xs{
                font-size: 6vw;
                padding: 4vw 2vw 5vw 5vw;
                width: 100%;
            }
        }

    }
}


#juriste{
    background-color: #874C7B;
    padding: 2vw 2vw 2vw 2vw;
    color:#FFF;
    position: relative;

    .bloc{
        display: table;
        padding-bottom: 1vw;

        img{
            width: 6vw;
            height: 4vw;
            display: table-cell;
            padding-right: 2vw;
        }

        p{
            display: table-cell;
            width: 21vw;
            padding-bottom: 2vw;
            vertical-align: top;
        }

        @include xs{
            img{
                width: 22vw;
                height: 9vw;
            }

            p{
                width: 72vw;
                font-size: 5vw;
                padding-bottom: 4vw;
                padding-top: 2vw;
            }
        }
    }

    .bloc1{
        p{
           border-bottom: 0.2vw solid white;
        }

        @include xs{
            p{
                border-bottom: 0.7vw solid white;
            }
        }
    }



    .bloc_left{
        display: table-cell;

        @include xs{
            display: block;
        }

        .bloc2{
        p{
            @include xs{
                border-bottom: 0.7vw solid white;
             }
        }
    }
    }

    .bloc_right{
        display: table-cell;
        padding-left: 4vw;

        @include xs{
            display: block;
            padding-left: 0vw;
        }
    }

    .juriste_img{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40vw;

        @include xs{
            display: none;
        }
    }
}


#cepandant{
    background-color: #b74747;
    padding: 2vw 2vw 2vw 2vw;
    color:#FFF;
    position: relative;

    @include xs{
        p{
            font-size: 5vw;
        }
    }

    h2{
        font-size: 8vw;

        @include xs{
            font-size: 14vw;
            padding-left: 2vw;
        }
    }

    .intro{
        margin-bottom: 3vw;

        @include xs{
            font-size: 5vw;
            padding-right: 38vw;
            padding: 2vw 38vw 4vw 2vw;
        }

    }

    .bloc{
        display: table;
        padding-bottom: 1vw;

        img{
            width: 6vw;
            height: 4vw;
            display: table-cell;
            padding-right: 2vw;
        }

        p{
            display: table-cell;
            width: 21vw;
            padding-bottom: 2vw;
            vertical-align: top;
        }

        @include xs{

            img{
                width: 17vw;
                height: 10vw;
            }

            p{
                width: 100%;
                padding-bottom: 4vw;
                margin-bottom: 4vw;
            }
        }
    }
    .bloc_middle{
        .bloc1{
            p{
               border-bottom: 0.2vw solid white;
            }

            @include xs{
                p{
                    border-bottom: 0.6vw solid white;
                }
            }
        }

        .bloc2{
            @include xs{
                p{
                    border-bottom: 0.6vw solid white;
                }
            }
        }
    }


    .bloc_left{
        display: table-cell;

        @include xs{
            display: block;
            padding-bottom: 2vw;

            p{
               border-bottom: 0.6vw solid white;
            }
        }
    }

    .bloc_middle{
        display: table-cell;
        padding-left: 4vw;

         @include xs{
            display: block;
            padding-left: 0;
            padding-bottom: 2vw;
        }
    }

    .bloc_right{
        display: table-cell;
        padding-left: 4vw;

        @include xs{
            display: block;
            padding-left: 0;
            padding-bottom: 2vw;
        }
    }

    .juriste_img{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 40vw;
    }
}


#last_bloc{
    background: rgba(144,79,113,1);
    background: -moz-linear-gradient(top, rgba(144,79,113,1) 0%, rgba(187,77,75,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(144,79,113,1)), color-stop(100%, rgba(187,77,75,1)));
    background: -webkit-linear-gradient(top, rgba(144,79,113,1) 0%, rgba(187,77,75,1) 100%);
    background: -o-linear-gradient(top, rgba(144,79,113,1) 0%, rgba(187,77,75,1) 100%);
    background: -ms-linear-gradient(top, rgba(144,79,113,1) 0%, rgba(187,77,75,1) 100%);
    background: linear-gradient(to bottom, rgba(144,79,113,1) 0%, rgba(187,77,75,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#904f71', endColorstr='#bb4d4b', GradientType=0 );
    color:#FFF;

    @include xs{
        padding-bottom: 8vw;
        padding-top: 3vw;
    }

    h2{
        font-size: 7vw;

        @include xs{
            font-size: 13vw;
            line-height: 13vw;
        }
    }

    .table1{
        display: table;
        padding-left: 4vw;


        img{
            display: table-cell;
            width: 37vw;
            padding: 2vw 2vw 2vw 12vw;

            @include xs{
                display: none;
            }
        }

        .text_bloc{
            display: table-cell;
            vertical-align: top;

            .text1{
                padding-left: 11vw;
                color:#240E47;

                @include xs{
                    padding-left: 0;
                }
            }

            p{
                width: 30vw;

                @include xs{
                    font-size: 5vw;
                    padding-top: 3vw;
                    width: 57vw;
                }
            }
        }
    }

    .text3{
        color:#240E47;
        padding-left: 4vw;

        @include xs{
            padding-left: 3vw;
        }
    }

    .text_bloc1{
        padding-left: 39vw;
        @include xs{
            padding-left: 3vw;
            p{
                font-size: 5vw;
            }

            h2{
                font-size: 24vw;
                line-height: 24vw;
            }
        }
        .bloc{
            display: inline-block;

            @include xs{
                display: block;
            }
        }

        .bloc2{
            background-color: #CF4934;
            width: 8vw;
            height: 8vw;
            text-align: center;
            padding-top: 0.5vw;
            border-radius: 7vw;
            vertical-align: top;

            @include xs{
                width: 29vw;
                height: 29vw;
                padding-top: 2.5vw;
                border-radius: 17vw;
                margin-top: -5vw;
                margin-left: 12vw;
            }
        }

        .bloc3{
            @include xs{
                h2{
                    font-size: 38vw;
                    padding: 5vw 2vw 6vw 2vw;
                }
            }
        }
    }
}


.qqfpart {

    margin-top: -5vw;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a34a5e+0,cf4634+8,e76f2a+19,cf4634+39,884b7b+59,565485+81,376688+93,226a89+96,146e89+100 */
    background: #a34a5e; /* Old browsers */
    background: -moz-linear-gradient(top,  #a34a5e 0%, #cf4634 8%, #e76f2a 19%, #cf4634 39%, #884b7b 59%, #565485 81%, #376688 93%, #226a89 96%, #146e89 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #a34a5e 0%,#cf4634 8%,#e76f2a 19%,#cf4634 39%,#884b7b 59%,#565485 81%,#376688 93%,#226a89 96%,#146e89 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #a34a5e 0%,#cf4634 8%,#e76f2a 19%,#cf4634 39%,#884b7b 59%,#565485 81%,#376688 93%,#226a89 96%,#146e89 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a34a5e', endColorstr='#146e89',GradientType=0 ); /* IE6-9 */

}


#qqf {
    padding-top: 5vw;
    color: white;

    .container {
        .img {
            margin-top: 40px;
            position: relative;
            .voir {
                position: absolute;
                top: -10px;
                left: 50%;

                @include xs {
                    position: static;
                    top: initial;
                    left: initial;
                }
            }

        }
        p {
            @include xs { font-size: 4vw; }
        }
    }
}

.qqf_content {



    .container {

        .left {
            width: 30%;
            float: left;
            padding: 40px 0;

            @include xs {
                width: 100%;
                float: none;
            }

            h2 {
                color: white;
                font-size: 70px;

                @include md {
                    font-size: 60px;
                }

                @include sm {
                    font-size: 50px;
                }
            }
        }
        .right {
            width: 65%;
            float: right;
            color: white;
            padding: 40px 0;

            @include xs {
                width: 100%;
                float: none;
                padding-top: 0;
            }

            p, ul, li {
                font-size: 24px;

                @include sm {
                    font-size: 20px;
                }
                @include xs {
                    font-size: 20px;
                }
            }

            div.picto {
                margin-bottom: 20px;

                p, img {
                    display: inline-block;
                    vertical-align: top;
                }
                img {
                    margin-right: 20px;
                    width: 45px;
                    height: auto;
                    margin-top: 7px;

                    @include sm {
                        width: 30px;
                    }
                    @include xs {
                        width: 30px;
                    }
                }
                p {
                    width: 89%;
                    @include sm {
                        width: 85%;
                    }
                    @include xs {
                        width: 85%;
                    }
                }

                &.middle {
                    p, img {
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    &.bloc1 {
        background-color: #cf4934;
    }
    &.bloc2 {
        background-color: #874c7b;
        position: relative;

        .absolute {
            position: absolute;
            width: 35%;
            height: auto;
            left: 0;
            top: -20%;

            @include xs { display: none; }
        }
        .left h2 {
            position: relative;
            z-index: 100;
        }
    }
    &.bloc3 {
        background-color: #565385;

        .container {
            background: url('../images/qqf3.png') no-repeat;
            background-size: auto 80%;
            background-position: 5% 100%;

            @include xs {
                background-size: 50% auto;
                background-position: 70% 100%;
                padding-bottom: 100px;
            }
        }

    }
    &.bloc4 {
        background-color: #472f7f;

        .container {
            background: url('../images/qqf4.png') no-repeat;
            background-size: auto 80%;
            background-position: 5% 100%;
            padding-bottom: 90px;

            @include xs {
                background-size: 50% auto;
                background-position: 70% 100%;
                padding-bottom: 110px;
            }

            .right {
                .dl {
                    margin: 15px 0;
                    a {
                        display: inline-block;
                        margin-right: 10px;

                        &:hover img{
                            opacity: 0.6;
                        }

                        img {
                            height: 40px;
                            width: auto;
                        }
                    }
                }
            }
        }


    }
    &.bloc5 {
        background-color: #cf4934;

        .voir {
            &:hover {
                background-color: #cf7e34;
                border-color: #cf7e34;
            }
        }

        .left {
            p { font-size: 20px; color: white; text-align: right; }
            &>div { text-align: right; }
            .voir {
                margin: 10px 0;
            }

            .rs {
                margin: 10px 0;

                a {
                    display: inline-block;

                    &:hover img {
                        opacity: 0.9;
                    }

                    img {
                        width: 60px;
                        height: auto;
                    }
                }
            }
        }

        .right {
            padding: 0;
            img, .content {
                vertical-align: top;
                display: inline-block;
            }
            &>img {
                width: 85px;


                @include xs { display: none; }
            }
            .content {
                width: 85%;

                @include sm {
                    width: 80%;
                }
                p {
                    margin-top: 20px;
                }
                ul {
                    list-style: inside;
                }

                .rs {
                    margin: 10px 0;

                    a {
                        display: inline-block;

                        &:hover img {
                            opacity: 0.9;
                        }

                        img {
                            width: 60px;
                            height: auto;
                        }
                    }
                }
            }

        }
    }
    &.bloc6 {
        background-color: #874c7b;
    }
    &.bloc7 {
        background-color: #240e47;

        .container {
            background: url('../images/qqf7.png') no-repeat;
            background-size: auto 90%;
            background-position: 20% 100%;

            @include xs {
                padding-bottom: 220px;
                background-size: 27% auto;
                background-position: 80% 100%;
            }
        }
    }
}

.qqf_inter {
    text-align: center;
    img {
        margin: 0 auto;
        width: 9%;

        @include xs {
            width: 20%;
        }
    }
}



#sources {
    width: 75%;
    text-align: center;
    color: white;
    font-size: 20px;
    padding: 30px 0;
    margin: 80px auto 0;

    @include xs {
        font-size: 18px;
        width: 95%;
    }

    a { text-decoration: underline; }
    a:hover {
        color: $secondary-color;
        text-decoration: none;
    }

} // #sources
