html {
    height: 100%
}

body{
	color: $text-color;
	font: $text-font;
	width: 100%;
	background-color: #FFF;
	font-weight: normal !important;

	@include xs {
		font-size: 4vw;
	}
}

p{
	font: $text-font;
}


h1, h2, h3, h4, h5, h6{
	text-transform: uppercase;
	margin: 0;
	font-family: chaletcomprime;
	font-weight: normal !important;
}

a{
	color: inherit;
	text-decoration: none;

	&:active{
		color: inherit;
	}

	&:hover{
		color: $text-color;
	}
}

img {
	width: 100%;
	height: auto;
}

.voir {
	text-align: center;
	font-family: chaletcomprime;
	color: white;
	padding: 6px 10px 2px;
	border: 2px solid white;
	text-transform: uppercase;
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 3vw;

	@include xs {
		font-size: 6vw;
	}
	&:hover {
		text-decoration: none;
		color: white;
		border: 2px solid $secondary-color;
		background-color: $secondary-color;
	}
}


.desktopElement {
	@include xs {
		display: none;
	}
}
.mobileElement {
	display: none;

	@include xs {
		display: block;
	}
}

.primary-color {
	color: $primary-color;
}

.secondary-color {
	color: $secondary-color;
}

.third-color {
	color: $third-color;
}

.fourth-color {
	color: $fourth-color;
}

.text-color {
	color: $text-color;
}

.white-color {
	color: white;
}
