$tablet-width: 768px;
$notebook-width: 992px;
$desktop-width: 1200px;


@mixin xs {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$tablet-width}) and (max-width: #{$notebook-width - 1px}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$notebook-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$desktop-width})  {
    @content;
  }
}
