// On défini les variables

// Couleurs
$primary-color: #006E8A;
$secondary-color: #CF4934;
$third-color: #472F7F;
$fourth-color: #08212d;
$text-color: #EDD22B;

// Polices
$text-font: normal 1.8vw circular;


// Mixins
@mixin bg_cover(){
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@mixin transition($element, $time){

	-webkit-transition: $element $time;
	-moz-transition: $element $time;
	-ms-transition: $element $time;
	transition: $element $time;
}


// Import du reset CSS
@import 'reset';
@import 'grid';
@import 'mediaqueries';
@import 'fonts';

@import 'general';
@import 'content';
