*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a li {
  color: inherit; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: inherit; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=306f681bc7f93cc4c842)
 * Config saved to config.json and https://gist.github.com/306f681bc7f93cc4c842
 */
  /*!
* Bootstrap v3.3.5 (http://getbootstrap.com)
* Copyright 2011-2015 Twitter, Inc.
* Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
*/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 10px;
  -webkit-tap-highlight-color: transparent; }

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

a {
  color: #337ab7;
  text-decoration: none; }

a:hover, a:focus {
  color: #23527c;
  text-decoration: underline; }

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto; }

.img-circle {
  border-radius: 50%; }

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

[role="button"] {
  cursor: pointer; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-11 {
    width: 91.66666667%; }

  .col-sm-10 {
    width: 83.33333333%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-8 {
    width: 66.66666667%; }

  .col-sm-7 {
    width: 58.33333333%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-5 {
    width: 41.66666667%; }

  .col-sm-4 {
    width: 33.33333333%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-2 {
    width: 16.66666667%; }

  .col-sm-1 {
    width: 8.33333333%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-pull-11 {
    right: 91.66666667%; }

  .col-sm-pull-10 {
    right: 83.33333333%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-8 {
    right: 66.66666667%; }

  .col-sm-pull-7 {
    right: 58.33333333%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-5 {
    right: 41.66666667%; }

  .col-sm-pull-4 {
    right: 33.33333333%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-2 {
    right: 16.66666667%; }

  .col-sm-pull-1 {
    right: 8.33333333%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-push-11 {
    left: 91.66666667%; }

  .col-sm-push-10 {
    left: 83.33333333%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-8 {
    left: 66.66666667%; }

  .col-sm-push-7 {
    left: 58.33333333%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-5 {
    left: 41.66666667%; }

  .col-sm-push-4 {
    left: 33.33333333%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-2 {
    left: 16.66666667%; }

  .col-sm-push-1 {
    left: 8.33333333%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-offset-12 {
    margin-left: 100%; }

  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  .col-sm-offset-0 {
    margin-left: 0; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-12 {
    width: 100%; }

  .col-md-11 {
    width: 91.66666667%; }

  .col-md-10 {
    width: 83.33333333%; }

  .col-md-9 {
    width: 75%; }

  .col-md-8 {
    width: 66.66666667%; }

  .col-md-7 {
    width: 58.33333333%; }

  .col-md-6 {
    width: 50%; }

  .col-md-5 {
    width: 41.66666667%; }

  .col-md-4 {
    width: 33.33333333%; }

  .col-md-3 {
    width: 25%; }

  .col-md-2 {
    width: 16.66666667%; }

  .col-md-1 {
    width: 8.33333333%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-pull-11 {
    right: 91.66666667%; }

  .col-md-pull-10 {
    right: 83.33333333%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-8 {
    right: 66.66666667%; }

  .col-md-pull-7 {
    right: 58.33333333%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-5 {
    right: 41.66666667%; }

  .col-md-pull-4 {
    right: 33.33333333%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-2 {
    right: 16.66666667%; }

  .col-md-pull-1 {
    right: 8.33333333%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-push-11 {
    left: 91.66666667%; }

  .col-md-push-10 {
    left: 83.33333333%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-8 {
    left: 66.66666667%; }

  .col-md-push-7 {
    left: 58.33333333%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-5 {
    left: 41.66666667%; }

  .col-md-push-4 {
    left: 33.33333333%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-2 {
    left: 16.66666667%; }

  .col-md-push-1 {
    left: 8.33333333%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-offset-12 {
    margin-left: 100%; }

  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0; } }
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-5 {
    width: 41.66666667%; }

  .col-lg-4 {
    width: 33.33333333%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-2 {
    width: 16.66666667%; }

  .col-lg-1 {
    width: 8.33333333%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-pull-11 {
    right: 91.66666667%; }

  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0; } }
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
  content: " ";
  display: table; }

.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

@font-face {
  font-family: 'chaletcomprime';
  src: url("../fonts/chaletcomprime.eot");
  src: url("../fonts/chaletcomprime.woff") format("woff"), url("../fonts/chaletcomprime.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'circular';
  src: url("../fonts/circular.eot");
  src: url("../fonts/circular.woff") format("woff"), url("../fonts/circular.ttf") format("truetype"), url("../fonts/circular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  height: 100%; }

body {
  color: #EDD22B;
  font: normal 1.8vw circular;
  width: 100%;
  background-color: #FFF;
  font-weight: normal !important; }
  @media (max-width: 767px) {
    body {
      font-size: 4vw; } }

p {
  font: normal 1.8vw circular; }

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  margin: 0;
  font-family: chaletcomprime;
  font-weight: normal !important; }

a {
  color: inherit;
  text-decoration: none; }
  a:active {
    color: inherit; }
  a:hover {
    color: #EDD22B; }

img {
  width: 100%;
  height: auto; }

.voir {
  text-align: center;
  font-family: chaletcomprime;
  color: white;
  padding: 6px 10px 2px;
  border: 2px solid white;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 3vw; }
  @media (max-width: 767px) {
    .voir {
      font-size: 6vw; } }
  .voir:hover {
    text-decoration: none;
    color: white;
    border: 2px solid #CF4934;
    background-color: #CF4934; }

@media (max-width: 767px) {
  .desktopElement {
    display: none; } }

.mobileElement {
  display: none; }
  @media (max-width: 767px) {
    .mobileElement {
      display: block; } }

.primary-color {
  color: #006E8A; }

.secondary-color {
  color: #CF4934; }

.third-color {
  color: #472F7F; }

.fourth-color {
  color: #08212d; }

.text-color {
  color: #EDD22B; }

.white-color {
  color: white; }

body {
  background: url("../images/fond_degrade.svg") no-repeat;
  background-size: auto 100%; }

@media (max-width: 767px) {
  p {
    font-size: 5vw !important; } }

.background_general {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%; }

.background_general_1 {
  position: absolute;
  z-index: -1; }

#intro {
  text-align: center;
  position: relative;
  width: 100%;
  background-color: #240E47;
  color: #FFF; }
  #intro .picto_intro {
    width: 8vw;
    margin-top: 4vw; }
    @media (max-width: 767px) {
      #intro .picto_intro {
        width: 15vw; } }
  #intro .text1 {
    font-size: 4vw;
    margin: 4vw 0vw 0vw 0vw; }
    @media (max-width: 767px) {
      #intro .text1 {
        font-size: 11vw; } }
  #intro .bloc {
    padding-bottom: 2vw;
    font-size: 5vw; }
    @media (max-width: 767px) {
      #intro .bloc {
        font-size: 15vw; } }
    #intro .bloc .text2 {
      display: inline-block; }
      #intro .bloc .text2 .red {
        display: inline;
        color: #CF4934; }
  #intro .text_intro {
    background-color: #006E8A;
    color: #FFF;
    text-align: left;
    padding: 3vw 4vw 3vw 4vw;
    font: normal 1.8vw circular; }
    @media (max-width: 767px) {
      #intro .text_intro p {
        font-size: 5.8vw;
        padding: 4vw; } }

#ajd_france {
  position: relative;
  width: 100%;
  background-color: #236286; }
  #ajd_france .enfant {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 46vw;
    z-index: 2; }
    @media (max-width: 767px) {
      #ajd_france .enfant {
        display: none; } }
  #ajd_france .arc {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 23vw; }
  #ajd_france .forms {
    display: table;
    width: 100%; }
    #ajd_france .forms .rect_1 {
      display: table-cell;
      height: 45vw;
      width: 12.5%;
      background-color: #024554;
      position: relative; }
      @media (max-width: 767px) {
        #ajd_france .forms .rect_1 {
          width: 2.5%;
          height: 65vw; } }
    #ajd_france .forms .rect_2 {
      display: table-cell;
      background-color: #FFF;
      height: 45vw;
      width: 12.5%;
      z-index: 0;
      position: relative; }
      @media (max-width: 767px) {
        #ajd_france .forms .rect_2 {
          width: 2.5%; } }
    #ajd_france .forms .rect_4 {
      display: none;
      background-color: #CF4934;
      height: 45vw;
      width: 2.5%;
      z-index: 0;
      position: relative; }
      @media (max-width: 767px) {
        #ajd_france .forms .rect_4 {
          display: table-cell; } }
    #ajd_france .forms .container_block {
      display: table-cell;
      width: 75%;
      vertical-align: top; }
      #ajd_france .forms .container_block .rect_3 {
        z-index: 0;
        height: 40vw;
        margin-left: -4vw;
        background-color: #CF4934;
        border-bottom-left-radius: 50vw;
        border-bottom-right-radius: 50vw; }
        @media (max-width: 767px) {
          #ajd_france .forms .container_block .rect_3 {
            display: none; } }
      #ajd_france .forms .container_block .rect_3_mobile {
        display: none; }
        @media (max-width: 767px) {
          #ajd_france .forms .container_block .rect_3_mobile {
            display: block; } }
  #ajd_france .main_text {
    position: absolute;
    top: 2vw;
    left: 27vw;
    color: #FFF;
    width: 30vw;
    line-height: 6vw;
    z-index: 3; }
    @media (max-width: 767px) {
      #ajd_france .main_text {
        position: absolute;
        top: 2vw;
        left: 8vw;
        color: #FFF;
        width: 44vw;
        line-height: 13vw;
        z-index: 3; } }
    #ajd_france .main_text .title {
      font-size: 7vw; }
      @media (max-width: 767px) {
        #ajd_france .main_text .title {
          font-size: 16vw;
          width: 90vw; } }
    #ajd_france .main_text .content {
      margin-left: 8vw;
      margin-top: 1vw; }
      @media (max-width: 767px) {
        #ajd_france .main_text .content {
          font-size: 4vw;
          margin-left: 1vw;
          margin-top: 2vw;
          width: 29vw; } }
  #ajd_france .heure_internet {
    position: absolute;
    bottom: 0;
    right: 15vw; }
    @media (max-width: 767px) {
      #ajd_france .heure_internet {
        right: 0; } }
    #ajd_france .heure_internet .bloc {
      display: inline-block; }
      #ajd_france .heure_internet .bloc .title {
        font-size: 8vw; }
      #ajd_france .heure_internet .bloc .content {
        color: #FFF;
        padding: 1vw 1vw 1vw 1vw;
        font: normal 1.8vw circular;
        width: 14vw; }
        @media (max-width: 767px) {
          #ajd_france .heure_internet .bloc .content {
            width: 42vw; } }
    #ajd_france .heure_internet .bloc1 {
      vertical-align: bottom; }
      #ajd_france .heure_internet .bloc1 .title {
        color: #024554; }
        @media (max-width: 767px) {
          #ajd_france .heure_internet .bloc1 .title {
            font-size: 26vw;
            line-height: 17vw; } }
      #ajd_france .heure_internet .bloc1 .content {
        position: relative;
        background-color: #024554;
        color: #FFF;
        padding-bottom: 12vw;
        margin-top: -2vw; }
        @media (max-width: 767px) {
          #ajd_france .heure_internet .bloc1 .content {
            padding-bottom: 35vw;
            font-size: 4vw;
            padding-left: 3vw; } }
        #ajd_france .heure_internet .bloc1 .content .tablette {
          position: absolute;
          top: 6vw;
          z-index: 1;
          left: -8vw; }
          @media (max-width: 767px) {
            #ajd_france .heure_internet .bloc1 .content .tablette {
              top: 23vw;
              left: -12vw;
              width: 27vw; } }
    #ajd_france .heure_internet .bloc2 {
      margin-left: -1vw; }
      #ajd_france .heure_internet .bloc2 .title {
        color: #006E8A;
        font-size: 12vw; }
        @media (max-width: 767px) {
          #ajd_france .heure_internet .bloc2 .title {
            font-size: 29vw;
            line-height: 19vw; } }
      #ajd_france .heure_internet .bloc2 .content {
        position: relative;
        background-color: #006E8A;
        color: #FFF;
        padding-bottom: 30vw;
        margin-top: -3vw; }
        @media (max-width: 767px) {
          #ajd_france .heure_internet .bloc2 .content {
            padding-bottom: 76vw;
            font-size: 4vw;
            padding-left: 3vw; } }
        #ajd_france .heure_internet .bloc2 .content .apple {
          position: absolute;
          top: 6vw;
          z-index: 1;
          left: 5vw; }
          @media (max-width: 767px) {
            #ajd_france .heure_internet .bloc2 .content .apple {
              top: 14vw;
              width: 28vw; } }

#bloc3 {
  background-color: #240E47;
  padding-top: 7vw;
  padding-bottom: 0.5vw;
  position: relative; }
  #bloc3 .percent_bar_mobile {
    width: 85%;
    height: 0.8vw;
    background: #006E8A;
    margin-left: 1vw;
    margin-bottom: -1vw;
    display: none; }
    @media (max-width: 767px) {
      #bloc3 .percent_bar_mobile {
        display: block; } }
  #bloc3 .smartphone {
    position: absolute;
    bottom: 0;
    left: -18vw;
    width: 52vw;
    z-index: 4; }
    @media (max-width: 767px) {
      #bloc3 .smartphone {
        position: relative;
        bottom: 0;
        left: 0;
        width: 109vw;
        z-index: 4;
        margin-top: -33vw;
        margin-left: -15vw; } }
  #bloc3 .legende_smart {
    color: #FFF;
    position: absolute;
    top: 13vw;
    z-index: 5;
    left: 10vw;
    width: 11vw; }
    #bloc3 .legende_smart h2 {
      font-size: 8vw;
      margin-left: -0.4vw;
      margin-bottom: -1vw; }
    @media (max-width: 767px) {
      #bloc3 .legende_smart {
        top: 17vw;
        left: 39vw;
        width: 47vw; }
        #bloc3 .legende_smart h2 {
          font-size: 20vw;
          margin-left: -0.4vw;
          padding-left: 9vw;
          margin-bottom: -1vw; }
        #bloc3 .legende_smart p {
          font-size: 4vw;
          width: 28vw; } }
  #bloc3 .graph {
    position: relative;
    margin-left: 40vw;
    padding-top: 3vw;
    border-left: 0.3vw solid #006E8A;
    padding-left: 1vw; }
    @media (max-width: 767px) {
      #bloc3 .graph {
        margin-left: 0;
        border-left: none;
        width: 100%; } }
    #bloc3 .graph .percent {
      position: absolute;
      color: #006E8A;
      top: -5vw;
      left: -2vw;
      font-size: 4vw; }
      @media (max-width: 767px) {
        #bloc3 .graph .percent {
          top: -1vw;
          left: 90vw; } }
    #bloc3 .graph .bloc {
      display: inline-block; }
      @media (max-width: 767px) {
        #bloc3 .graph .bloc {
          display: block; } }
      @media (max-width: 767px) {
        #bloc3 .graph .bloc .bar_mobile {
          height: 20vw;
          background-color: #006E8A;
          display: inline-block; } }
      #bloc3 .graph .bloc .title {
        font-size: 8vw;
        color: #FFF;
        text-align: left; }
      #bloc3 .graph .bloc .content {
        text-align: left;
        background-color: #006E8A;
        color: #FFF;
        padding: 1vw 1vw 1vw 1vw;
        font: normal 1.8vw circular;
        width: 17vw;
        padding-right: 10vw;
        position: relative; }
        #bloc3 .graph .bloc .content .img {
          position: absolute;
          width: 42%; }
        @media (max-width: 767px) {
          #bloc3 .graph .bloc .content {
            background: none;
            vertical-align: top;
            margin-top: 2vw;
            padding-right: 0;
            font-size: 4vw; }
            #bloc3 .graph .bloc .content img {
              width: 21%; } }
      @media (max-width: 767px) {
        #bloc3 .graph .bloc .title, #bloc3 .graph .bloc .content {
          display: inline-block; }
        #bloc3 .graph .bloc .title {
          font-size: 14vw !important;
          vertical-align: top;
          margin-top: 4vw;
          margin-left: -14vw; } }
    #bloc3 .graph .bloc1 {
      vertical-align: bottom; }
      #bloc3 .graph .bloc1 .content {
        padding-bottom: 21vw; }
        @media (max-width: 767px) {
          #bloc3 .graph .bloc1 .content {
            width: 24%;
            padding-bottom: 0; } }
        #bloc3 .graph .bloc1 .content .img {
          top: -0.5vw;
          left: 13vw; }
          @media (max-width: 767px) {
            #bloc3 .graph .bloc1 .content .img {
              top: 0;
              width: 16vw;
              left: -40vw; } }
    #bloc3 .graph .bloc2 .title {
      font-size: 6vw; }
    @media (max-width: 767px) {
      #bloc3 .graph .bloc2 {
        width: 100%; }
        #bloc3 .graph .bloc2 .title {
          margin-left: 9vw; } }
    #bloc3 .graph .bloc2 .content {
      padding-bottom: 3vw; }
      @media (max-width: 767px) {
        #bloc3 .graph .bloc2 .content {
          margin-left: 18vw; } }
      #bloc3 .graph .bloc2 .content .img {
        top: -2.5vw;
        left: 10.5vw; }
        @media (max-width: 767px) {
          #bloc3 .graph .bloc2 .content .img {
            top: 1.5vw;
            left: -52.5vw;
            width: 13vw; } }
    #bloc3 .graph .bloc3 {
      position: relative;
      padding-top: 5vw; }
      @media (max-width: 767px) {
        #bloc3 .graph .bloc3 {
          width: 100%;
          padding-top: 0; } }
      #bloc3 .graph .bloc3 .title {
        font-size: 4vw;
        margin-left: 1vw;
        margin-bottom: -1vw; }
        @media (max-width: 767px) {
          #bloc3 .graph .bloc3 .title {
            margin-left: 13vw; } }
      #bloc3 .graph .bloc3 .content {
        background-color: transparent;
        padding-bottom: 3vw; }
        #bloc3 .graph .bloc3 .content .img {
          top: 2.5vw;
          left: 10vw;
          z-index: 1;
          width: 7vw; }
        @media (max-width: 767px) {
          #bloc3 .graph .bloc3 .content {
            margin-left: 36vw; }
            #bloc3 .graph .bloc3 .content .img {
              top: 2.5vw;
              left: -69vw;
              z-index: 1;
              width: 10vw; } }
      #bloc3 .graph .bloc3 .bar {
        position: absolute;
        width: 100%;
        background-color: #006E8A;
        height: 2vw;
        bottom: 0; }
        @media (max-width: 767px) {
          #bloc3 .graph .bloc3 .bar {
            display: none; } }
    @media (max-width: 767px) {
      #bloc3 .graph .bloc .content {
        height: 10vw; }
      #bloc3 .graph .bar_mobile1 {
        width: 64vw; }
      #bloc3 .graph .bar_mobile2 {
        width: 26vw; }
      #bloc3 .graph .bar_mobile3 {
        width: 5vw; } }

#transition {
  padding: 2vw 11vw 2vw 32vw;
  color: #FFF;
  background-color: #455A84; }
  @media (max-width: 767px) {
    #transition {
      padding: 3vw 4vw 2vw 6vw; }
      #transition p {
        font-size: 5.5vw; } }

#remember {
  background-color: #472F7F;
  text-align: center;
  padding: 2vw 2vw 2vw 2vw;
  font-size: 7vw; }
  @media (max-width: 767px) {
    #remember {
      padding: 2vw 2vw 2vw 5vw;
      font-size: 16vw;
      line-height: 15vw;
      text-align: left; } }
  #remember .title1 {
    color: #006E8A; }
  #remember .title2 {
    color: #FFF; }

#insultes {
  position: relative;
  background: #575582;
  background: -moz-linear-gradient(top, #575582 0%, #64547f 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #575582), color-stop(100%, #64547f));
  background: -webkit-linear-gradient(top, #575582 0%, #64547f 100%);
  background: -o-linear-gradient(top, #575582 0%, #64547f 100%);
  background: -ms-linear-gradient(top, #575582 0%, #64547f 100%);
  background: linear-gradient(to bottom, #575582 0%, #64547f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575582', endColorstr='#64547f', GradientType=0 ); }
  #insultes .background_serpentin {
    position: absolute;
    background-image: url("../images/serpentin.svg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; }
    @media (max-width: 767px) {
      #insultes .background_serpentin {
        display: none; } }
  #insultes .martin {
    z-index: 1;
    position: relative; }
    @media (max-width: 767px) {
      #insultes .martin {
        display: none; } }
  #insultes .martin_mobile {
    z-index: 1;
    position: relative;
    display: none; }
    @media (max-width: 767px) {
      #insultes .martin_mobile {
        display: block; } }
  #insultes .boy {
    position: absolute;
    top: 6vw;
    left: 12vw;
    width: 19vw;
    z-index: 0; }
    @media (max-width: 767px) {
      #insultes .boy {
        top: 47vw;
        left: 1vw;
        width: 44vw; } }
  #insultes .boy1 {
    position: absolute;
    top: -2vw;
    left: 43vw;
    width: 21vw;
    z-index: 0; }
    @media (max-width: 767px) {
      #insultes .boy1 {
        width: 50vw;
        top: -6vw;
        left: 38vw; } }

#harcelement {
  background-color: #240E47;
  text-align: center;
  padding: 2vw 15vw 2vw 2vw;
  font-size: 7vw;
  text-align: left;
  color: #FFF; }
  @media (max-width: 767px) {
    #harcelement {
      padding: 2vw 7vw 2vw 7vw;
      font-size: 17vw;
      text-align: left;
      color: #FFF; } }
  #harcelement .title1 {
    color: #FFF; }
  #harcelement .title2 {
    color: #FFF; }
  #harcelement .harcelement_color {
    display: inline-block;
    color: #CF4934; }

#cyber_harcelement {
  color: #FFF;
  margin-top: -1vw;
  position: relative;
  background: #70527d;
  background: -moz-linear-gradient(top, #70527d 0%, #64547f 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #70527d), color-stop(100%, #64547f));
  background: -webkit-linear-gradient(top, #70527d 0%, #64547f 100%);
  background: -o-linear-gradient(top, #70527d 0%, #64547f 100%);
  background: -ms-linear-gradient(top, #70527d 0%, #64547f 100%);
  background: linear-gradient(to bottom, #70527d 0%, #64547f 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#70527d', endColorstr='#64547f', GradientType=0 ); }
  @media (max-width: 767px) {
    #cyber_harcelement {
      padding-top: 12vw; } }
  #cyber_harcelement .bloc_text {
    display: table;
    text-align: center; }
    #cyber_harcelement .bloc_text .bloc {
      display: table-cell;
      width: 33.33%; }
      @media (max-width: 767px) {
        #cyber_harcelement .bloc_text .bloc {
          width: 45%; } }
      #cyber_harcelement .bloc_text .bloc .number {
        font-size: 4vw;
        text-align: center;
        width: 4.5vw;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15vw;
        background-color: #240E47;
        height: 4.5vw; }
        @media (max-width: 767px) {
          #cyber_harcelement .bloc_text .bloc .number {
            width: 6.5vw;
            border-radius: 15vw;
            height: 6.5vw;
            padding-top: 1.8vw; } }
      #cyber_harcelement .bloc_text .bloc .content {
        border-top: 0.3vw solid #472F7F;
        margin: 1vw 2vw 2vw 2vw;
        padding-top: 1vw;
        font-size: 4vw; }
        @media (max-width: 767px) {
          #cyber_harcelement .bloc_text .bloc .content {
            text-align: left;
            font-size: 8vw;
            border-top: 0.4vw solid #472F7F; } }
    #cyber_harcelement .bloc_text .bloc1 .content {
      margin: 1vw 9vw 2vw 9vw; }
    #cyber_harcelement .bloc_text .bloc3 .content {
      margin: 1vw 2vw 2vw 1vw; }
    @media (max-width: 767px) {
      #cyber_harcelement .bloc_text .bloc1 {
        position: absolute;
        top: -2vw;
        left: 26vw;
        width: 49%; }
        #cyber_harcelement .bloc_text .bloc1 .content {
          width: 30vw; }
      #cyber_harcelement .bloc_text .bloc2 {
        display: inline-block; }
      #cyber_harcelement .bloc_text .bloc3 {
        display: inline-block; } }
  #cyber_harcelement .bottom_border {
    width: 75%;
    border-top: 0.3vw solid #472F7F;
    margin-right: auto;
    margin-left: auto; }
    @media (max-width: 767px) {
      #cyber_harcelement .bottom_border {
        border-top: 0.4vw solid #472F7F; } }
    #cyber_harcelement .bottom_border .v_border {
      border-left: 0.3vw solid #472F7F;
      height: 2vw;
      margin-left: auto;
      margin-right: auto;
      width: 0.5vw; }
      @media (max-width: 767px) {
        #cyber_harcelement .bottom_border .v_border {
          border-left: 0.4vw solid #472F7F; } }

#consequences {
  background-color: #472F7F;
  color: #FFF;
  text-align: center;
  padding: 2vw 1vw 2vw 1vw; }
  #consequences .title {
    font-size: 4vw;
    position: relative;
    z-index: 1; }
  #consequences p {
    position: relative;
    z-index: 1; }
  @media (max-width: 767px) {
    #consequences {
      padding: 2vw 1vw 2vw 4vw;
      text-align: left; }
      #consequences .title {
        font-size: 13vw;
        padding-right: 26vw;
        line-height: 12vw;
        padding-top: 2vw; }
      #consequences p {
        font-size: 5vw;
        padding-right: 30vw;
        padding-top: 2vw; } }

#brimades {
  color: #472F7F;
  position: relative;
  background: #76527c;
  background: -moz-linear-gradient(top, #76527c 0%, #c64c41 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #76527c), color-stop(100%, #c64c41));
  background: -webkit-linear-gradient(top, #76527c 0%, #c64c41 100%);
  background: -o-linear-gradient(top, #76527c 0%, #c64c41 100%);
  background: -ms-linear-gradient(top, #76527c 0%, #c64c41 100%);
  background: linear-gradient(to bottom, #76527c 0%, #c64c41 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76527c', endColorstr='#c64c41', GradientType=0 ); }
  #brimades .ordis {
    position: relative;
    z-index: 1; }
    @media (max-width: 767px) {
      #brimades .ordis {
        display: none; } }
  #brimades .social {
    position: absolute;
    width: 28vw;
    top: 30vw;
    left: 19vw;
    z-index: 2; }
    @media (max-width: 767px) {
      #brimades .social {
        width: 60vw;
        top: 164vw;
        left: 22vw; } }
  #brimades .ordis_mobile {
    position: relative;
    z-index: 1;
    display: none;
    margin-top: -17vw; }
    @media (max-width: 767px) {
      #brimades .ordis_mobile {
        display: block; } }
    #brimades .ordis_mobile .social {
      position: absolute;
      width: 10vw;
      top: 5vw;
      left: 5vw; }
  #brimades .intro {
    font-size: 6vw;
    width: 48vw;
    margin: 0vw 0vw 2vw 3vw;
    color: #FFF; }
    @media (max-width: 767px) {
      #brimades .intro {
        padding-top: 2vw;
        width: 67vw;
        margin: 0vw 0vw 2vw 4vw;
        color: #FFF;
        font-size: 15vw; } }
  #brimades .encadre {
    position: relative;
    background-color: #472F7F;
    width: 63vw;
    padding: 4vw 5vw 4vw 7vw;
    margin-top: 5vw;
    border-radius: 3vw;
    margin-left: auto;
    margin-right: auto; }
    @media (max-width: 767px) {
      #brimades .encadre {
        width: 86vw;
        padding: 4vw 5vw 4vw 4vw; } }
    #brimades .encadre .bar {
      position: absolute;
      width: 5vw;
      background-color: #472F7F;
      height: 78vw; }
    #brimades .encadre .bar1 {
      top: -75vw;
      right: 10vw; }
    #brimades .encadre .bar2 {
      top: -75vw;
      right: 18vw; }
    #brimades .encadre .text {
      background-color: #FFF;
      width: 49vw;
      font-size: 6vw;
      padding: 1vw 1vw 1vw 1vw; }
      @media (max-width: 767px) {
        #brimades .encadre .text {
          width: 78vw;
          padding: 2vw;
          font-size: 13vw; } }
    #brimades .encadre .mobile_title {
      display: inline-block; }
      @media (max-width: 767px) {
        #brimades .encadre .mobile_title {
          display: block;
          font-size: 15vw; } }
  #brimades .container_annees {
    border: 0.6vw solid white;
    border-radius: 5vw;
    width: 65%;
    margin-left: 10vw;
    margin-top: -3.1vw;
    padding-bottom: 5vw;
    border-right: none;
    border-top-right-radius: 0; }
    @media (max-width: 767px) {
      #brimades .container_annees {
        border: 0.8vw solid white;
        border-right: none; } }
    #brimades .container_annees .exemple {
      margin: 4vw 4vw -3vw 4vw;
      font-size: 5vw;
      color: #FFF; }
      @media (max-width: 767px) {
        #brimades .container_annees .exemple {
          font-size: 14vw;
          margin: 4vw 0vw -5vw 4vw; } }
    #brimades .container_annees .bloc {
      display: table;
      margin: 4vw 0vw 3vw -3vw;
      width: 120%; }
      @media (max-width: 767px) {
        #brimades .container_annees .bloc {
          margin: 6vw 0vw 3vw -6vw; } }
      #brimades .container_annees .bloc .bloctext {
        color: #FFF;
        display: table-cell;
        width: 85%;
        vertical-align: top; }
        #brimades .container_annees .bloc .bloctext .title {
          margin-bottom: 1.5vw; }
        @media (max-width: 767px) {
          #brimades .container_annees .bloc .bloctext .name {
            font-size: 5vw; }
          #brimades .container_annees .bloc .bloctext .title {
            font-size: 5vw; }
          #brimades .container_annees .bloc .bloctext .age {
            font-size: 5vw; }
          #brimades .container_annees .bloc .bloctext .content {
            font-size: 5.5vw; } }
      #brimades .container_annees .bloc .bloc2 .link {
        font-size: 1.8vw;
        padding-top: 1vw; }
        @media (max-width: 767px) {
          #brimades .container_annees .bloc .bloc2 .link {
            padding-top: 2vw; } }
      #brimades .container_annees .bloc .bloc2 a:hover {
        text-decoration: none; }
        #brimades .container_annees .bloc .bloc2 a:hover h2 {
          background-color: white;
          color: #874C7B; }
      #brimades .container_annees .bloc .bloc2 a h2 {
        background-color: #874C7B;
        width: 16vw;
        border: 0.3vw solid white;
        padding: 1vw;
        margin-top: 3vw;
        font-size: 2vw; }
        @media (max-width: 767px) {
          #brimades .container_annees .bloc .bloc2 a h2 {
            width: 45vw;
            padding: 2vw;
            margin-top: 3vw;
            font-size: 6vw; } }
      #brimades .container_annees .bloc .annee {
        display: table-cell;
        color: #874C7B;
        width: 8%;
        text-align: center;
        padding-right: 1vw; }
        @media (max-width: 767px) {
          #brimades .container_annees .bloc .annee {
            padding-right: 2vw; } }
        #brimades .container_annees .bloc .annee h2 {
          width: 6vw;
          height: 6vw;
          background-color: #FFF;
          border-radius: 3vw;
          font-size: 4vw;
          padding-top: 0.8vw;
          text-align: center; }
          @media (max-width: 767px) {
            #brimades .container_annees .bloc .annee h2 {
              width: 12vw;
              height: 12vw;
              border-radius: 8vw;
              font-size: 7vw;
              padding-top: 3vw; } }

#agression {
  background-color: #874C7B;
  color: #FFF;
  margin-top: -6vw;
  position: relative; }
  #agression .title {
    font-size: 6vw;
    width: 52vw;
    padding: 2vw 3vw 0vw 6vw; }
    @media (max-width: 767px) {
      #agression .title {
        font-size: 16vw;
        width: 60vw;
        padding: 2vw 0vw 0vw 6vw; } }
  #agression .content {
    font-size: 4vw;
    text-align: left;
    padding-left: 23vw;
    padding-right: 10vw;
    padding-top: 2vw;
    padding-bottom: 4vw; }
    @media (max-width: 767px) {
      #agression .content {
        padding-left: 6vw; } }
  #agression .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4vw 48.5vw 0 48.5vw;
    border-color: #874C7B transparent;
    z-index: 1; }
    @media (max-width: 767px) {
      #agression .triangle {
        border-width: 9vw 47.5vw 0 47.5vw; } }

#agression_suite {
  position: relative;
  padding-top: 8vw;
  background: #d24c35;
  background: -moz-linear-gradient(top, #d24c35 0%, #dd5725 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #d24c35), color-stop(100%, #dd5725));
  background: -webkit-linear-gradient(top, #d24c35 0%, #dd5725 100%);
  background: -o-linear-gradient(top, #d24c35 0%, #dd5725 100%);
  background: -ms-linear-gradient(top, #d24c35 0%, #dd5725 100%);
  background: linear-gradient(to bottom, #d24c35 0%, #dd5725 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d24c35', endColorstr='#dd5725', GradientType=0 ); }
  @media (max-width: 767px) {
    #agression_suite {
      padding-top: 15vw; } }
  #agression_suite .row_table {
    display: table;
    width: 83%;
    padding: 2vw 2vw 2vw 2vw;
    margin-left: 16vw;
    color: white; }
    @media (max-width: 767px) {
      #agression_suite .row_table {
        margin-left: 2vw;
        width: 93%; } }
    #agression_suite .row_table .bloc {
      display: table-cell;
      width: 33.33%;
      vertical-align: top; }
      @media (max-width: 767px) {
        #agression_suite .row_table .bloc {
          width: 100%;
          display: block;
          margin-top: 3vw; } }
      #agression_suite .row_table .bloc .bloc_content {
        width: 100%;
        display: table;
        padding-left: 2vw; }
        #agression_suite .row_table .bloc .bloc_content img {
          display: table-cell;
          width: 53%; }
          @media (max-width: 767px) {
            #agression_suite .row_table .bloc .bloc_content img {
              width: 9vw; } }
        #agression_suite .row_table .bloc .bloc_content p {
          display: table-cell;
          width: 17vw;
          vertical-align: top;
          padding-right: 2vw; }
          @media (max-width: 767px) {
            #agression_suite .row_table .bloc .bloc_content p {
              width: 72vw;
              font-size: 4vw; } }
  #agression_suite .row_table2 {
    width: 57%; }
    @media (max-width: 767px) {
      #agression_suite .row_table2 {
        width: 93%; } }
  #agression_suite .bloc1 p, #agression_suite .bloc2 p {
    border-bottom: 0.3vw solid white;
    height: 17vw; }
  #agression_suite .bloc4 p {
    border-bottom: 0.3vw solid white; }
  #agression_suite .bloc4 .bloc_content {
    height: 10vw; }
  @media (max-width: 767px) {
    #agression_suite .bloc5 p {
      border-bottom: 0.3vw solid white;
      padding-bottom: 2vw; } }
  @media (max-width: 767px) {
    #agression_suite .bloc3 p {
      border-bottom: 0.3vw solid white;
      padding-bottom: 2vw; } }
  #agression_suite .bloc6 {
    display: none !important; }
    @media (max-width: 767px) {
      #agression_suite .bloc6 {
        display: block !important; } }
  @media (max-width: 767px) {
    #agression_suite .last_bloc {
      display: none; } }
  #agression_suite .last_bloc .bloc_content {
    width: 24vw;
    display: table;
    margin-left: 21vw;
    margin-top: -7vw; }
    #agression_suite .last_bloc .bloc_content img {
      display: table-cell;
      width: 53%; }
    #agression_suite .last_bloc .bloc_content p {
      color: #FFF;
      display: table-cell;
      width: 18vw;
      vertical-align: top;
      padding-right: 2vw; }
  #agression_suite .phenomene {
    color: #FFF;
    padding: 2vw 0vw 2vw 27vw;
    background-color: #CF4934;
    position: relative;
    margin-top: 4vw; }
    @media (max-width: 767px) {
      #agression_suite .phenomene {
        font-size: 15vw; } }
    #agression_suite .phenomene h2 {
      font-size: 6vw;
      width: 59vw; }
      @media (max-width: 767px) {
        #agression_suite .phenomene h2 {
          width: 65vw;
          font-size: 13vw; } }
    #agression_suite .phenomene p {
      width: 55vw; }
      @media (max-width: 767px) {
        #agression_suite .phenomene p {
          font-size: 4vw;
          padding-left: 6vw;
          padding-top: 4vw; } }
    #agression_suite .phenomene .woman {
      position: absolute;
      bottom: 0;
      left: -18vw;
      width: 40vw; }
      @media (max-width: 767px) {
        #agression_suite .phenomene .woman {
          left: -25vw;
          width: 53vw; } }

#types_harcelement {
  color: #FFF;
  display: table;
  padding-top: 2vw;
  padding-bottom: 2vw;
  position: relative;
  width: 100%;
  background: #e56018;
  background: -moz-linear-gradient(top, #e56018 0%, #ed6c06 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e56018), color-stop(100%, #ed6c06));
  background: -webkit-linear-gradient(top, #e56018 0%, #ed6c06 100%);
  background: -o-linear-gradient(top, #e56018 0%, #ed6c06 100%);
  background: -ms-linear-gradient(top, #e56018 0%, #ed6c06 100%);
  background: linear-gradient(to bottom, #e56018 0%, #ed6c06 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e56018', endColorstr='#ed6c06', GradientType=0 ); }
  @media (max-width: 767px) {
    #types_harcelement {
      padding-bottom: 30vw;
      padding-top: 6vw; }
      #types_harcelement p {
        font-size: 4.8vw; } }
  #types_harcelement .pictos {
    z-index: 2;
    position: absolute;
    top: 7vw;
    left: 27vw;
    width: 50vw; }
    @media (max-width: 767px) {
      #types_harcelement .pictos {
        display: none; } }
  #types_harcelement .pictos_mobile {
    z-index: 2;
    position: absolute;
    top: 7.5vw;
    left: 0;
    width: 48vw;
    display: none; }
    @media (max-width: 767px) {
      #types_harcelement .pictos_mobile {
        display: block;
        top: -1.5vw;
        width: 94vw; } }
  #types_harcelement .bloc {
    display: table-cell;
    vertical-align: top; }
    @media (max-width: 767px) {
      #types_harcelement .bloc {
        display: block; } }
  #types_harcelement .bloc_gauche {
    width: 28vw;
    text-align: right;
    padding: 6vw 2vw 2vw 6vw; }
    @media (max-width: 767px) {
      #types_harcelement .bloc_gauche {
        text-align: left;
        padding: 2vw 2vw 0vw 18vw;
        width: 100%; } }
    #types_harcelement .bloc_gauche .text_group {
      margin-top: 4vw;
      margin-bottom: 4vw; }
      #types_harcelement .bloc_gauche .text_group .second {
        font-size: 1.6vw; }
      @media (max-width: 767px) {
        #types_harcelement .bloc_gauche .text_group {
          margin-bottom: 2vw; }
          #types_harcelement .bloc_gauche .text_group .second {
            font-size: 4.8vw; } }
  #types_harcelement .bloc_milieu {
    display: table-cell;
    width: 41vw;
    padding-left: 10vw; }
    @media (max-width: 767px) {
      #types_harcelement .bloc_milieu {
        display: block;
        padding: 0vw 2vw 0vw 8vw;
        width: 90%;
        margin-top: -6vw; } }
    #types_harcelement .bloc_milieu .first {
      margin-bottom: 2vw;
      margin-top: 10vw;
      padding-left: 10vw; }
      @media (max-width: 767px) {
        #types_harcelement .bloc_milieu .first {
          margin-bottom: 9vw; } }
    #types_harcelement .bloc_milieu .second {
      padding-right: 3vw;
      padding-left: 10vw; }
    #types_harcelement .bloc_milieu p {
      padding-right: 7vw;
      position: relative; }
    #types_harcelement .bloc_milieu .encadre {
      z-index: 3;
      padding: 1vw 2vw 1vw 2vw;
      background-color: #FFF;
      border: 0.6vw solid #FFCE47;
      color: #EC7200;
      border-radius: 0.6vw;
      font-size: 4vw;
      text-align: center;
      margin-bottom: 3vw;
      position: relative; }
      @media (max-width: 767px) {
        #types_harcelement .bloc_milieu .encadre {
          margin-bottom: none;
          position: absolute;
          bottom: 3vw;
          width: 95%;
          left: 3%;
          font-size: 13vw;
          border: 1.6vw solid #FFCE47;
          padding: 3vw 2vw 1vw 2vw; } }
  #types_harcelement .bloc_droite {
    padding: 5vw 4vw 0vw 13vw; }
    #types_harcelement .bloc_droite .first {
      margin-bottom: 7vw; }
    @media (max-width: 767px) {
      #types_harcelement .bloc_droite {
        display: block;
        padding: 2vw 2vw 2vw 18vw;
        width: 90%; }
        #types_harcelement .bloc_droite .first {
          margin-bottom: 2vw; } }
    #types_harcelement .bloc_droite p {
      position: relative;
      z-index: 1; }
  #types_harcelement .afro {
    position: absolute;
    bottom: -5vw;
    left: 53vw;
    width: 42vw;
    z-index: 0; }
    @media (max-width: 767px) {
      #types_harcelement .afro {
        display: none; } }

#caracteristiques {
  background-color: #240E47;
  position: relative; }
  #caracteristiques .bloc {
    position: relative;
    margin-bottom: 4vw; }
    #caracteristiques .bloc .number {
      width: 7vw;
      height: 7vw;
      border-radius: 4vw;
      padding-top: 0.8vw;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      font-size: 5vw; }
      @media (max-width: 767px) {
        #caracteristiques .bloc .number {
          font-size: 6vw;
          width: 9vw;
          height: 9vw;
          border-radius: 6vw;
          padding-top: 2.8vw; } }
  #caracteristiques .bloc1 {
    color: #240E47;
    margin-bottom: 0; }
    #caracteristiques .bloc1 .number {
      background-color: #FFF; }
    #caracteristiques .bloc1 .title {
      margin-top: -4vw;
      font-size: 4.5vw;
      width: 100%;
      padding-left: 54vw;
      background-color: #FFF;
      padding: 1vw 2vw 1vw 54vw; }
      @media (max-width: 767px) {
        #caracteristiques .bloc1 .title {
          padding: 8vw 2vw 3vw 5vw !important;
          line-height: 9vw;
          font-size: 10.5vw; } }
    @media (max-width: 767px) {
      #caracteristiques .bloc1 {
        margin-bottom: 4vw; } }
  #caracteristiques .bar_chart {
    display: table;
    width: 100%;
    margin-bottom: 4vw; }
    #caracteristiques .bar_chart .bar {
      display: table-cell;
      height: 20vw;
      position: relative;
      color: #FFF;
      vertical-align: bottom; }
      #caracteristiques .bar_chart .bar .background {
        background-color: white; }
      #caracteristiques .bar_chart .bar .rectangle {
        position: relative;
        z-index: 1; }
    #caracteristiques .bar_chart .bar1 {
      width: 50%; }
      #caracteristiques .bar_chart .bar1 .background {
        opacity: 0.4;
        background-color: white;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0; }
      #caracteristiques .bar_chart .bar1 .rectangle {
        padding: 8vw 2vw 0vw 6vw; }
        #caracteristiques .bar_chart .bar1 .rectangle .number {
          font-size: 13vw;
          display: inline-block; }
          @media (max-width: 767px) {
            #caracteristiques .bar_chart .bar1 .rectangle .number {
              font-size: 19vw;
              display: block;
              line-height: 14vw; } }
        #caracteristiques .bar_chart .bar1 .rectangle .text {
          font-size: 7vw;
          display: inline-block; }
      #caracteristiques .bar_chart .bar1 .img_main_smartphone {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 54vw; }
        @media (max-width: 767px) {
          #caracteristiques .bar_chart .bar1 .img_main_smartphone {
            display: none; } }
    #caracteristiques .bar_chart .bar2 {
      width: 30%;
      padding-top: 5vw; }
      #caracteristiques .bar_chart .bar2 .background {
        opacity: 0.3;
        background-color: white;
        width: 100%;
        height: 80%;
        position: absolute;
        bottom: 0;
        left: 0; }
      #caracteristiques .bar_chart .bar2 .rectangle {
        padding: 8vw 2vw 1vw 3vw; }
        @media (max-width: 767px) {
          #caracteristiques .bar_chart .bar2 .rectangle {
            padding: 4vw 2vw 1vw 3vw; } }
        #caracteristiques .bar_chart .bar2 .rectangle .number {
          font-size: 7vw;
          display: inline-block; }
          @media (max-width: 767px) {
            #caracteristiques .bar_chart .bar2 .rectangle .number {
              font-size: 12vw;
              display: block; } }
        #caracteristiques .bar_chart .bar2 .rectangle .text {
          display: inline-block;
          font-size: 3vw;
          width: 3vw; }
    #caracteristiques .bar_chart .bar3 {
      width: 20%;
      padding-top: 5vw; }
      #caracteristiques .bar_chart .bar3 .background {
        opacity: 0.2;
        background-color: white;
        width: 100%;
        height: 57%;
        position: absolute;
        bottom: 0;
        left: 0; }
      #caracteristiques .bar_chart .bar3 .rectangle {
        padding: 1vw 2vw 1vw 3vw; }
        #caracteristiques .bar_chart .bar3 .rectangle .number {
          font-size: 6vw;
          color: #565385; }
        #caracteristiques .bar_chart .bar3 .rectangle .text {
          margin-top: 2vw;
          display: inline-block;
          font-size: 4vw;
          display: inline-block;
          width: 3vw;
          line-height: 3.5vw; }
        @media (max-width: 767px) {
          #caracteristiques .bar_chart .bar3 .rectangle p {
            font-size: 1.8vw !important; } }
  #caracteristiques .bloc2 {
    color: #FFF; }
    #caracteristiques .bloc2 .number {
      background-color: #565385; }
    #caracteristiques .bloc2 .title {
      margin-top: -4vw;
      font-size: 4.5vw;
      width: 100%;
      background-color: #565385;
      padding: 1vw 2vw 1vw 27vw; }
    #caracteristiques .bloc2 .content {
      background-color: #565385;
      padding: 0vw 32vw 1vw 24vw; }
    #caracteristiques .bloc2 .pc_portable {
      position: absolute;
      right: 4vw;
      width: 30vw;
      top: 0; }
      @media (max-width: 767px) {
        #caracteristiques .bloc2 .pc_portable {
          right: 9vw;
          width: 48vw;
          top: 18vw; } }
  #caracteristiques .bloc3 {
    color: #FFF; }
    #caracteristiques .bloc3 .number {
      background-color: #874C7B; }
    #caracteristiques .bloc3 .title {
      margin-top: -4vw;
      font-size: 4.5vw;
      width: 100%;
      background-color: #874C7B;
      padding: 1vw 14vw 1vw 54vw; }
    #caracteristiques .bloc3 .content {
      background-color: #874C7B;
      padding: 1vw 14vw 1vw 43vw; }
    #caracteristiques .bloc3 .pc_portable {
      position: absolute;
      left: 4vw;
      width: 30vw;
      top: 0; }
      @media (max-width: 767px) {
        #caracteristiques .bloc3 .pc_portable {
          left: 51vw;
          width: 35vw;
          top: 33vw; } }
  #caracteristiques .bloc4 {
    color: #FFF; }
    #caracteristiques .bloc4 .number {
      background-color: #CF4934; }
    #caracteristiques .bloc4 .title {
      margin-top: -4vw;
      font-size: 4.5vw;
      width: 100%;
      background-color: #CF4934;
      padding: 1vw 14vw 1vw 5vw; }
    #caracteristiques .bloc4 .content {
      background-color: #CF4934;
      padding: 1vw 36vw 2vw 23vw; }
    #caracteristiques .bloc4 .marin {
      position: absolute;
      right: 4vw;
      width: 26vw;
      top: -3vw; }
      @media (max-width: 767px) {
        #caracteristiques .bloc4 .marin {
          right: 8vw;
          width: 43vw;
          top: 27vw; } }
  @media (max-width: 767px) {
    #caracteristiques .bloc .title, #caracteristiques .bloc .content {
      padding-left: 3vw; }
    #caracteristiques .bloc .title {
      font-size: 12vw;
      padding-top: 4vw; }
    #caracteristiques .bloc .content {
      font-size: 4.5vw;
      padding-right: 58vw; }
    #caracteristiques .bloc4 .title {
      padding-top: 4vw; } }
  #caracteristiques .concerne {
    font-size: 7vw;
    color: #fff;
    padding: 2vw;
    width: 28vw; }
    @media (max-width: 767px) {
      #caracteristiques .concerne {
        font-size: 11vw;
        color: #fff;
        padding: 2vw 2vw 14vw 5vw;
        width: 43vw; } }
  #caracteristiques .main_title {
    padding: 2vw 2vw 2vw 3vw;
    font-size: 7vw;
    margin-bottom: -3vw;
    color: #FFF; }
    @media (max-width: 767px) {
      #caracteristiques .main_title {
        padding: 4vw 4vw 2vw 4vw;
        font-size: 15vw;
        width: 65vw; } }
  #caracteristiques .img_container {
    position: relative; }
    #caracteristiques .img_container .map {
      margin-bottom: -5vw; }
      @media (max-width: 767px) {
        #caracteristiques .img_container .map {
          display: none; } }
    #caracteristiques .img_container .map_mobile {
      display: none; }
      @media (max-width: 767px) {
        #caracteristiques .img_container .map_mobile {
          display: block; } }
    #caracteristiques .img_container .text_map {
      position: absolute;
      width: 27vw;
      top: 17vw;
      left: 24vw; }
      @media (max-width: 767px) {
        #caracteristiques .img_container .text_map {
          width: 56vw;
          top: 23vw;
          left: 34vw; } }
      #caracteristiques .img_container .text_map .p1 {
        color: #EC7200;
        margin-bottom: -1vw; }
      #caracteristiques .img_container .text_map .p2 {
        color: white;
        margin-top: 1vw;
        margin-bottom: -2.2vw; }
      #caracteristiques .img_container .text_map .percent {
        font-size: 15vw;
        color: #EC7200;
        line-height: 14vw; }
        @media (max-width: 767px) {
          #caracteristiques .img_container .text_map .percent {
            line-height: 23vw;
            font-size: 30vw; } }
      #caracteristiques .img_container .text_map .percent2 {
        font-size: 10vw;
        color: #CF4934;
        display: inline-block;
        margin-top: 1vw; }
        @media (max-width: 767px) {
          #caracteristiques .img_container .text_map .percent2 {
            line-height: 14vw;
            font-size: 14vw;
            margin-top: 0; } }
      #caracteristiques .img_container .text_map .p3 {
        display: inline-block;
        color: #FFF; }
      @media (max-width: 767px) {
        #caracteristiques .img_container .text_map p {
          font-size: 4vw; } }
  #caracteristiques .concernerait {
    padding-left: 3vw;
    color: white;
    width: 26vw;
    border-left: 0.1vw solid white;
    background-color: #240E47;
    position: absolute;
    top: -13vw;
    right: 24vw; }
    @media (max-width: 767px) {
      #caracteristiques .concernerait {
        width: 40vw;
        top: -28vw;
        right: 5vw; }
        #caracteristiques .concernerait p {
          font-size: 4vw !important; } }
    #caracteristiques .concernerait h2 {
      font-size: 19vw; }
    #caracteristiques .concernerait .p2 {
      margin-left: 13vw; }
  #caracteristiques .filles {
    color: #FFF;
    position: absolute;
    bottom: 9vw;
    right: 29vw;
    width: 9vw; }
    @media (max-width: 767px) {
      #caracteristiques .filles {
        bottom: 30vw;
        right: 70vw;
        width: 20vw;
        font-size: 4.5vw; } }
  #caracteristiques .garcons {
    color: #FFF;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    width: 13vw; }
    @media (max-width: 767px) {
      #caracteristiques .garcons {
        bottom: 6vw;
        right: 6vw;
        width: 24vw;
        font-size: 4.5vw; } }

#feministres {
  position: relative;
  padding: 5vw 3vw 6vw 31vw;
  color: #FFF;
  background-color: #CF4934; }
  @media (max-width: 767px) {
    #feministres {
      padding: 7vw 7vw 6vw 6vw; }
      #feministres p {
        font-size: 5.5vw; } }
  #feministres img {
    position: absolute;
    top: -12px;
    left: 2vw;
    width: 26vw; }
    @media (max-width: 767px) {
      #feministres img {
        display: none; } }
  #feministres .voir:hover {
    background-color: #006E8A;
    border-color: #006E8A; }

#parents {
  padding-top: 7vw;
  background-color: #625480; }
  @media (max-width: 767px) {
    #parents {
      padding-top: 15vw;
      background-color: #72527C; } }
  #parents .wrapper {
    display: table; }
    @media (max-width: 767px) {
      #parents .wrapper {
        display: block; } }
    #parents .wrapper .first_bloc {
      display: table-cell;
      color: #006E8A;
      padding: 2vw 2vw 0vw 4vw;
      width: 40%;
      height: 20vw;
      background-color: #FFF;
      position: relative;
      vertical-align: top; }
      @media (max-width: 767px) {
        #parents .wrapper .first_bloc {
          width: 100%;
          height: 57vw;
          display: block;
          padding: 5vw 2vw 0vw 4vw; }
          #parents .wrapper .first_bloc p {
            font-size: 5vw; } }
      #parents .wrapper .first_bloc .icones {
        position: absolute;
        top: -6vw;
        left: 6vw;
        width: 22vw; }
        @media (max-width: 767px) {
          #parents .wrapper .first_bloc .icones {
            position: absolute;
            top: -9vw;
            left: 32vw;
            width: 35vw; } }
      #parents .wrapper .first_bloc .table_percent {
        display: table;
        padding: 2vw 2vw 0vw 0vw;
        background-color: #FFF; }
        @media (max-width: 767px) {
          #parents .wrapper .first_bloc .table_percent {
            background-color: transparent; } }
        #parents .wrapper .first_bloc .table_percent .cell1 {
          padding: 2vw;
          display: table-cell; }
          #parents .wrapper .first_bloc .table_percent .cell1 h2 {
            font-size: 5vw; }
          @media (max-width: 767px) {
            #parents .wrapper .first_bloc .table_percent .cell1 {
              padding: 5vw 2vw 2vw 10vw; }
              #parents .wrapper .first_bloc .table_percent .cell1 h2 {
                font-size: 21vw;
                line-height: 23vw; } }
        #parents .wrapper .first_bloc .table_percent .cell2 {
          display: table-cell;
          padding-left: 3vw;
          line-height: 8.4vw;
          border-left: 0.3vw solid #006E8A; }
          #parents .wrapper .first_bloc .table_percent .cell2 h2 {
            font-size: 9vw; }
          @media (max-width: 767px) {
            #parents .wrapper .first_bloc .table_percent .cell2 {
              line-height: 27vw; }
              #parents .wrapper .first_bloc .table_percent .cell2 h2 {
                font-size: 27vw; } }
    #parents .wrapper .triangle {
      display: table-cell;
      width: 6%;
      background-color: #03596D; }
      #parents .wrapper .triangle img {
        height: 100%;
        width: auto; }
      @media (max-width: 767px) {
        #parents .wrapper .triangle {
          display: none; } }
    #parents .wrapper .triangle_mobile {
      width: 100%;
      background-color: #03596D;
      display: none; }
      @media (max-width: 767px) {
        #parents .wrapper .triangle_mobile {
          display: block; } }
    #parents .wrapper .last_cell {
      display: table-cell;
      position: relative;
      background-color: #03596D;
      color: #FFF;
      width: 57%;
      vertical-align: middle; }
      #parents .wrapper .last_cell p {
        width: 22vw;
        padding-left: 2vw; }
        @media (max-width: 767px) {
          #parents .wrapper .last_cell p {
            font-size: 4vw;
            width: 100%;
            padding: 6vw 2vw 9vw 7vw; } }
      #parents .wrapper .last_cell .mere_fille {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 30vw; }
        @media (max-width: 767px) {
          #parents .wrapper .last_cell .mere_fille {
            position: relative;
            width: 100%;
            padding-left: 11vw; } }

#harcelement_pairs {
  display: table;
  padding-top: 2vw;
  background: #006f88;
  background: -moz-linear-gradient(top, #006f88 0%, #256286 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #006f88), color-stop(100%, #256286));
  background: -webkit-linear-gradient(top, #006f88 0%, #256286 100%);
  background: -o-linear-gradient(top, #006f88 0%, #256286 100%);
  background: -ms-linear-gradient(top, #006f88 0%, #256286 100%);
  background: linear-gradient(to bottom, #006f88 0%, #256286 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006f88', endColorstr='#256286', GradientType=0 ); }
  #harcelement_pairs .left_img {
    display: table-cell;
    width: 68%;
    position: relative;
    vertical-align: bottom; }
    @media (max-width: 767px) {
      #harcelement_pairs .left_img {
        display: none; } }
  #harcelement_pairs .right_text {
    display: table-cell;
    color: #FFF;
    vertical-align: bottom; }
    #harcelement_pairs .right_text h2 {
      font-size: 6vw;
      margin-bottom: 1vw; }
      @media (max-width: 767px) {
        #harcelement_pairs .right_text h2 {
          font-size: 15vw;
          margin-bottom: 1vw;
          padding: 2vw 2vw 0vw 4vw; } }
    @media (max-width: 767px) {
      #harcelement_pairs .right_text .text2 {
        font-size: 6vw;
        padding: 2vw 2vw 2vw 4vw; } }
    #harcelement_pairs .right_text .text3 {
      padding: 2vw;
      background: #FFF;
      color: #006E8A;
      margin-top: 2vw; }
      @media (max-width: 767px) {
        #harcelement_pairs .right_text .text3 {
          font-size: 6vw;
          padding: 4vw 2vw 2vw 5vw; } }
  #harcelement_pairs .final_bloc {
    padding: 2vw 2vw 2vw 2vw;
    color: #FFF; }
    #harcelement_pairs .final_bloc h2 {
      font-size: 4vw;
      margin-bottom: 1vw; }
      @media (max-width: 767px) {
        #harcelement_pairs .final_bloc h2 {
          font-size: 15vw;
          padding: 2vw 2vw 2vw 2vw; } }
    #harcelement_pairs .final_bloc p {
      width: 64vw; }
      @media (max-width: 767px) {
        #harcelement_pairs .final_bloc p {
          font-size: 6vw;
          padding: 4vw 2vw 5vw 5vw;
          width: 100%; } }

#juriste {
  background-color: #874C7B;
  padding: 2vw 2vw 2vw 2vw;
  color: #FFF;
  position: relative; }
  #juriste .bloc {
    display: table;
    padding-bottom: 1vw; }
    #juriste .bloc img {
      width: 6vw;
      height: 4vw;
      display: table-cell;
      padding-right: 2vw; }
    #juriste .bloc p {
      display: table-cell;
      width: 21vw;
      padding-bottom: 2vw;
      vertical-align: top; }
    @media (max-width: 767px) {
      #juriste .bloc img {
        width: 22vw;
        height: 9vw; }
      #juriste .bloc p {
        width: 72vw;
        font-size: 5vw;
        padding-bottom: 4vw;
        padding-top: 2vw; } }
  #juriste .bloc1 p {
    border-bottom: 0.2vw solid white; }
  @media (max-width: 767px) {
    #juriste .bloc1 p {
      border-bottom: 0.7vw solid white; } }
  #juriste .bloc_left {
    display: table-cell; }
    @media (max-width: 767px) {
      #juriste .bloc_left {
        display: block; } }
    @media (max-width: 767px) {
      #juriste .bloc_left .bloc2 p {
        border-bottom: 0.7vw solid white; } }
  #juriste .bloc_right {
    display: table-cell;
    padding-left: 4vw; }
    @media (max-width: 767px) {
      #juriste .bloc_right {
        display: block;
        padding-left: 0vw; } }
  #juriste .juriste_img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40vw; }
    @media (max-width: 767px) {
      #juriste .juriste_img {
        display: none; } }

#cepandant {
  background-color: #b74747;
  padding: 2vw 2vw 2vw 2vw;
  color: #FFF;
  position: relative; }
  @media (max-width: 767px) {
    #cepandant p {
      font-size: 5vw; } }
  #cepandant h2 {
    font-size: 8vw; }
    @media (max-width: 767px) {
      #cepandant h2 {
        font-size: 14vw;
        padding-left: 2vw; } }
  #cepandant .intro {
    margin-bottom: 3vw; }
    @media (max-width: 767px) {
      #cepandant .intro {
        font-size: 5vw;
        padding-right: 38vw;
        padding: 2vw 38vw 4vw 2vw; } }
  #cepandant .bloc {
    display: table;
    padding-bottom: 1vw; }
    #cepandant .bloc img {
      width: 6vw;
      height: 4vw;
      display: table-cell;
      padding-right: 2vw; }
    #cepandant .bloc p {
      display: table-cell;
      width: 21vw;
      padding-bottom: 2vw;
      vertical-align: top; }
    @media (max-width: 767px) {
      #cepandant .bloc img {
        width: 17vw;
        height: 10vw; }
      #cepandant .bloc p {
        width: 100%;
        padding-bottom: 4vw;
        margin-bottom: 4vw; } }
  #cepandant .bloc_middle .bloc1 p {
    border-bottom: 0.2vw solid white; }
  @media (max-width: 767px) {
    #cepandant .bloc_middle .bloc1 p {
      border-bottom: 0.6vw solid white; } }
  @media (max-width: 767px) {
    #cepandant .bloc_middle .bloc2 p {
      border-bottom: 0.6vw solid white; } }
  #cepandant .bloc_left {
    display: table-cell; }
    @media (max-width: 767px) {
      #cepandant .bloc_left {
        display: block;
        padding-bottom: 2vw; }
        #cepandant .bloc_left p {
          border-bottom: 0.6vw solid white; } }
  #cepandant .bloc_middle {
    display: table-cell;
    padding-left: 4vw; }
    @media (max-width: 767px) {
      #cepandant .bloc_middle {
        display: block;
        padding-left: 0;
        padding-bottom: 2vw; } }
  #cepandant .bloc_right {
    display: table-cell;
    padding-left: 4vw; }
    @media (max-width: 767px) {
      #cepandant .bloc_right {
        display: block;
        padding-left: 0;
        padding-bottom: 2vw; } }
  #cepandant .juriste_img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40vw; }

#last_bloc {
  background: #904f71;
  background: -moz-linear-gradient(top, #904f71 0%, #bb4d4b 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #904f71), color-stop(100%, #bb4d4b));
  background: -webkit-linear-gradient(top, #904f71 0%, #bb4d4b 100%);
  background: -o-linear-gradient(top, #904f71 0%, #bb4d4b 100%);
  background: -ms-linear-gradient(top, #904f71 0%, #bb4d4b 100%);
  background: linear-gradient(to bottom, #904f71 0%, #bb4d4b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#904f71', endColorstr='#bb4d4b', GradientType=0 );
  color: #FFF; }
  @media (max-width: 767px) {
    #last_bloc {
      padding-bottom: 8vw;
      padding-top: 3vw; } }
  #last_bloc h2 {
    font-size: 7vw; }
    @media (max-width: 767px) {
      #last_bloc h2 {
        font-size: 13vw;
        line-height: 13vw; } }
  #last_bloc .table1 {
    display: table;
    padding-left: 4vw; }
    #last_bloc .table1 img {
      display: table-cell;
      width: 37vw;
      padding: 2vw 2vw 2vw 12vw; }
      @media (max-width: 767px) {
        #last_bloc .table1 img {
          display: none; } }
    #last_bloc .table1 .text_bloc {
      display: table-cell;
      vertical-align: top; }
      #last_bloc .table1 .text_bloc .text1 {
        padding-left: 11vw;
        color: #240E47; }
        @media (max-width: 767px) {
          #last_bloc .table1 .text_bloc .text1 {
            padding-left: 0; } }
      #last_bloc .table1 .text_bloc p {
        width: 30vw; }
        @media (max-width: 767px) {
          #last_bloc .table1 .text_bloc p {
            font-size: 5vw;
            padding-top: 3vw;
            width: 57vw; } }
  #last_bloc .text3 {
    color: #240E47;
    padding-left: 4vw; }
    @media (max-width: 767px) {
      #last_bloc .text3 {
        padding-left: 3vw; } }
  #last_bloc .text_bloc1 {
    padding-left: 39vw; }
    @media (max-width: 767px) {
      #last_bloc .text_bloc1 {
        padding-left: 3vw; }
        #last_bloc .text_bloc1 p {
          font-size: 5vw; }
        #last_bloc .text_bloc1 h2 {
          font-size: 24vw;
          line-height: 24vw; } }
    #last_bloc .text_bloc1 .bloc {
      display: inline-block; }
      @media (max-width: 767px) {
        #last_bloc .text_bloc1 .bloc {
          display: block; } }
    #last_bloc .text_bloc1 .bloc2 {
      background-color: #CF4934;
      width: 8vw;
      height: 8vw;
      text-align: center;
      padding-top: 0.5vw;
      border-radius: 7vw;
      vertical-align: top; }
      @media (max-width: 767px) {
        #last_bloc .text_bloc1 .bloc2 {
          width: 29vw;
          height: 29vw;
          padding-top: 2.5vw;
          border-radius: 17vw;
          margin-top: -5vw;
          margin-left: 12vw; } }
    @media (max-width: 767px) {
      #last_bloc .text_bloc1 .bloc3 h2 {
        font-size: 38vw;
        padding: 5vw 2vw 6vw 2vw; } }

.qqfpart {
  margin-top: -5vw;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a34a5e+0,cf4634+8,e76f2a+19,cf4634+39,884b7b+59,565485+81,376688+93,226a89+96,146e89+100 */
  background: #a34a5e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a34a5e 0%, #cf4634 8%, #e76f2a 19%, #cf4634 39%, #884b7b 59%, #565485 81%, #376688 93%, #226a89 96%, #146e89 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a34a5e 0%, #cf4634 8%, #e76f2a 19%, #cf4634 39%, #884b7b 59%, #565485 81%, #376688 93%, #226a89 96%, #146e89 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a34a5e 0%, #cf4634 8%, #e76f2a 19%, #cf4634 39%, #884b7b 59%, #565485 81%, #376688 93%, #226a89 96%, #146e89 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a34a5e', endColorstr='#146e89',GradientType=0 );
  /* IE6-9 */ }

#qqf {
  padding-top: 5vw;
  color: white; }
  #qqf .container .img {
    margin-top: 40px;
    position: relative; }
    #qqf .container .img .voir {
      position: absolute;
      top: -10px;
      left: 50%; }
      @media (max-width: 767px) {
        #qqf .container .img .voir {
          position: static;
          top: initial;
          left: initial; } }
  @media (max-width: 767px) {
    #qqf .container p {
      font-size: 4vw; } }

.qqf_content .container .left {
  width: 30%;
  float: left;
  padding: 40px 0; }
  @media (max-width: 767px) {
    .qqf_content .container .left {
      width: 100%;
      float: none; } }
  .qqf_content .container .left h2 {
    color: white;
    font-size: 70px; }
    @media (min-width: 992px) and (max-width: 1199px) {
      .qqf_content .container .left h2 {
        font-size: 60px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .qqf_content .container .left h2 {
        font-size: 50px; } }
.qqf_content .container .right {
  width: 65%;
  float: right;
  color: white;
  padding: 40px 0; }
  @media (max-width: 767px) {
    .qqf_content .container .right {
      width: 100%;
      float: none;
      padding-top: 0; } }
  .qqf_content .container .right p, .qqf_content .container .right ul, .qqf_content .container .right li {
    font-size: 24px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .qqf_content .container .right p, .qqf_content .container .right ul, .qqf_content .container .right li {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .qqf_content .container .right p, .qqf_content .container .right ul, .qqf_content .container .right li {
        font-size: 20px; } }
  .qqf_content .container .right div.picto {
    margin-bottom: 20px; }
    .qqf_content .container .right div.picto p, .qqf_content .container .right div.picto img {
      display: inline-block;
      vertical-align: top; }
    .qqf_content .container .right div.picto img {
      margin-right: 20px;
      width: 45px;
      height: auto;
      margin-top: 7px; }
      @media (min-width: 768px) and (max-width: 991px) {
        .qqf_content .container .right div.picto img {
          width: 30px; } }
      @media (max-width: 767px) {
        .qqf_content .container .right div.picto img {
          width: 30px; } }
    .qqf_content .container .right div.picto p {
      width: 89%; }
      @media (min-width: 768px) and (max-width: 991px) {
        .qqf_content .container .right div.picto p {
          width: 85%; } }
      @media (max-width: 767px) {
        .qqf_content .container .right div.picto p {
          width: 85%; } }
    .qqf_content .container .right div.picto.middle p, .qqf_content .container .right div.picto.middle img {
      vertical-align: middle; }
.qqf_content.bloc1 {
  background-color: #cf4934; }
.qqf_content.bloc2 {
  background-color: #874c7b;
  position: relative; }
  .qqf_content.bloc2 .absolute {
    position: absolute;
    width: 35%;
    height: auto;
    left: 0;
    top: -20%; }
    @media (max-width: 767px) {
      .qqf_content.bloc2 .absolute {
        display: none; } }
  .qqf_content.bloc2 .left h2 {
    position: relative;
    z-index: 100; }
.qqf_content.bloc3 {
  background-color: #565385; }
  .qqf_content.bloc3 .container {
    background: url("../images/qqf3.png") no-repeat;
    background-size: auto 80%;
    background-position: 5% 100%; }
    @media (max-width: 767px) {
      .qqf_content.bloc3 .container {
        background-size: 50% auto;
        background-position: 70% 100%;
        padding-bottom: 100px; } }
.qqf_content.bloc4 {
  background-color: #472f7f; }
  .qqf_content.bloc4 .container {
    background: url("../images/qqf4.png") no-repeat;
    background-size: auto 80%;
    background-position: 5% 100%;
    padding-bottom: 90px; }
    @media (max-width: 767px) {
      .qqf_content.bloc4 .container {
        background-size: 50% auto;
        background-position: 70% 100%;
        padding-bottom: 110px; } }
    .qqf_content.bloc4 .container .right .dl {
      margin: 15px 0; }
      .qqf_content.bloc4 .container .right .dl a {
        display: inline-block;
        margin-right: 10px; }
        .qqf_content.bloc4 .container .right .dl a:hover img {
          opacity: 0.6; }
        .qqf_content.bloc4 .container .right .dl a img {
          height: 40px;
          width: auto; }
.qqf_content.bloc5 {
  background-color: #cf4934; }
  .qqf_content.bloc5 .voir:hover {
    background-color: #cf7e34;
    border-color: #cf7e34; }
  .qqf_content.bloc5 .left p {
    font-size: 20px;
    color: white;
    text-align: right; }
  .qqf_content.bloc5 .left > div {
    text-align: right; }
  .qqf_content.bloc5 .left .voir {
    margin: 10px 0; }
  .qqf_content.bloc5 .left .rs {
    margin: 10px 0; }
    .qqf_content.bloc5 .left .rs a {
      display: inline-block; }
      .qqf_content.bloc5 .left .rs a:hover img {
        opacity: 0.9; }
      .qqf_content.bloc5 .left .rs a img {
        width: 60px;
        height: auto; }
  .qqf_content.bloc5 .right {
    padding: 0; }
    .qqf_content.bloc5 .right img, .qqf_content.bloc5 .right .content {
      vertical-align: top;
      display: inline-block; }
    .qqf_content.bloc5 .right > img {
      width: 85px; }
      @media (max-width: 767px) {
        .qqf_content.bloc5 .right > img {
          display: none; } }
    .qqf_content.bloc5 .right .content {
      width: 85%; }
      @media (min-width: 768px) and (max-width: 991px) {
        .qqf_content.bloc5 .right .content {
          width: 80%; } }
      .qqf_content.bloc5 .right .content p {
        margin-top: 20px; }
      .qqf_content.bloc5 .right .content ul {
        list-style: inside; }
      .qqf_content.bloc5 .right .content .rs {
        margin: 10px 0; }
        .qqf_content.bloc5 .right .content .rs a {
          display: inline-block; }
          .qqf_content.bloc5 .right .content .rs a:hover img {
            opacity: 0.9; }
          .qqf_content.bloc5 .right .content .rs a img {
            width: 60px;
            height: auto; }
.qqf_content.bloc6 {
  background-color: #874c7b; }
.qqf_content.bloc7 {
  background-color: #240e47; }
  .qqf_content.bloc7 .container {
    background: url("../images/qqf7.png") no-repeat;
    background-size: auto 90%;
    background-position: 20% 100%; }
    @media (max-width: 767px) {
      .qqf_content.bloc7 .container {
        padding-bottom: 220px;
        background-size: 27% auto;
        background-position: 80% 100%; } }

.qqf_inter {
  text-align: center; }
  .qqf_inter img {
    margin: 0 auto;
    width: 9%; }
    @media (max-width: 767px) {
      .qqf_inter img {
        width: 20%; } }

#sources {
  width: 75%;
  text-align: center;
  color: white;
  font-size: 20px;
  padding: 30px 0;
  margin: 80px auto 0; }
  @media (max-width: 767px) {
    #sources {
      font-size: 18px;
      width: 95%; } }
  #sources a {
    text-decoration: underline; }
  #sources a:hover {
    color: #CF4934;
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
